<%- include('header'); -%>
<%- include('slider'); -%>
  <!-- MainContent -->
  <div class="main-content">
    <section id="iq-favorites">
       <div class="container-fluid">
          <div class="row">
             <div class="col-sm-12 overflow-hidden">
                <div class="iq-main-header d-flex align-items-center justify-content-between">
                   <h4 class="main-title">Your Favorites</h4>
                   <a href="movie-category.html" class="text-primary">View all</a>
                </div>
                <div class="favorites-contens">
                   <ul class="favorites-slider list-inline  row p-0 mb-0">
                      <li class="slide-item">
                         <a href="movie-details.html">
                            <div class="block-images position-relative">
                               <div class="img-box">
                                  <img src="/images/favorite/01.jpg" class="img-fluid" alt="">
                               </div>
                               <div class="block-description">
                                  <h6>Champions</h6>
                                  <div class="movie-time d-flex align-items-center my-2">
                                     <div class="badge badge-secondary p-1 mr-2">13+</div>
                                     <span class="text-white">2h 30m</span>
                                  </div>
                                  <div class="hover-buttons">
                                     <span class="btn btn-hover">
                                     <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                     Play Now
                                     </span>
                                  </div>
                               </div>
                               <div class="block-social-info">
                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                     <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                     <li><span><i class="ri-heart-fill"></i></span></li>
                                     <li><span><i class="ri-add-line"></i></span></li>
                                  </ul>
                               </div>
                            </div>
                         </a>
                      </li>
                      <li class="slide-item">
                         <a href="show-details.html">
                            <div class="block-images position-relative">
                               <div class="img-box">
                                  <img src="/images/favorite/02.jpg" class="img-fluid" alt="">
                               </div>
                               <div class="block-description">
                                  <h6>Last Race</h6>
                                  <div class="movie-time d-flex align-items-center my-2">
                                     <div class="badge badge-secondary p-1 mr-2">7+</div>
                                     <span class="text-white">2 Seasons</span>
                                  </div>
                                  <div class="hover-buttons">
                                     <span class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                     Play Now
                                     </span>
                                  </div>
                               </div>
                               <div class="block-social-info">
                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                     <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                     <li><span><i class="ri-heart-fill"></i></span></li>
                                     <li><span><i class="ri-add-line"></i></span></li>
                                  </ul>
                               </div>
                            </div>
                         </a>
                      </li>
                      <li class="slide-item">
                         <a href="movie-details.html">
                            <div class="block-images position-relative">
                               <div class="img-box">
                                  <img src="/images/favorite/03.jpg" class="img-fluid" alt="">
                               </div>
                               <div class="block-description">
                                  <h6>Boop Bitty</h6>
                                  <div class="movie-time d-flex align-items-center my-2">
                                     <div class="badge badge-secondary p-1 mr-2">15+</div>
                                     <span class="text-white">2h 30m</span>
                                  </div>
                                  <div class="hover-buttons">
                                     <span class="btn btn-hover">
                                     <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                     Play Now
                                     </span>
                                  </div>
                               </div>
                               <div class="block-social-info">
                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                     <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                     <li><span><i class="ri-heart-fill"></i></span></li>
                                     <li><span><i class="ri-add-line"></i></span></li>
                                  </ul>
                               </div>
                            </div>
                         </a>
                      </li>
                      <li class="slide-item">
                         <a href="show-details.html">
                            <div class="block-images position-relative">
                               <div class="img-box">
                                  <img src="/images/favorite/04.jpg" class="img-fluid" alt="">
                               </div>
                               <div class="block-description">
                                  <h6>Dino Land</h6>
                                  <div class="movie-time d-flex align-items-center my-2">
                                     <div class="badge badge-secondary p-1 mr-2">18+</div>
                                     <span class="text-white">3 Seasons</span>
                                  </div>
                                  <div class="hover-buttons">
                                     <span class="btn btn-hover">
                                     <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                     Play Now
                                     </span>
                                  </div>
                               </div>
                               <div class="block-social-info">
                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                     <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                     <li><span><i class="ri-heart-fill"></i></span></li>
                                     <li><span><i class="ri-add-line"></i></span></li>
                                  </ul>
                               </div>
                            </div>
                         </a>
                      </li>
                      <li class="slide-item">
                         <a href="show-details.html">
                            <div class="block-images position-relative">
                               <div class="img-box">
                                  <img src="/images/favorite/05.jpg" class="img-fluid" alt="">
                               </div>
                               <div class="block-description">
                                  <h6>Jaction action</h6>
                                  <div class="movie-time d-flex align-items-center my-2">
                                     <div class="badge badge-secondary p-1 mr-2">10+</div>
                                     <span class="text-white">1 Season</span>
                                  </div>
                                  <div class="hover-buttons">
                                     <span class="btn btn-hover">
                                     <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                     Play Now
                                     </span>
                                  </div>
                               </div>
                               <div class="block-social-info">
                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                     <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                     <li><span><i class="ri-heart-fill"></i></span></li>
                                     <li><span><i class="ri-add-line"></i></span></li>
                                  </ul>
                               </div>
                            </div>
                         </a>
                      </li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
    </section>
    <section id="iq-upcoming-movie">
       <div class="container-fluid">
          <div class="row">
             <div class="col-sm-12 overflow-hidden">
                <div class="iq-main-header d-flex align-items-center justify-content-between">
                   <h4 class="main-title">Upcoming Movies</h4>
                   <a href="movie-category.html" class="text-primary">View all</a>
                </div>
                <div class="upcoming-contens">
                   <ul class="favorites-slider list-inline row p-0 mb-0">
                      <li class="slide-item">
                         <a href="movie-details.html">
                            <div class="block-images position-relative">
                               <div class="img-box">
                                  <img src="/images/upcoming/01.jpg" class="img-fluid" alt="">
                               </div>
                               <div class="block-description">
                                  <h6>The Last Breath</h6>
                                  <div class="movie-time d-flex align-items-center my-2">
                                     <div class="badge badge-secondary p-1 mr-2">5+</div>
                                     <span class="text-white">2h 30m</span>
                                  </div>
                                  <div class="hover-buttons">
                                     <span class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                     Play Now
                                     </span>
                                  </div>
                               </div>
                               <div class="block-social-info">
                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                     <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                     <li><span><i class="ri-heart-fill"></i></span></li>
                                     <li><span><i class="ri-add-line"></i></span></li>
                                  </ul>
                               </div>
                            </div>
                         </a>
                      </li>
                      <li class="slide-item">
                         <a href="movie-details.html">
                            <div class="block-images position-relative">
                               <div class="img-box">
                                  <img src="/images/upcoming/02.jpg" class="img-fluid" alt="">
                               </div>
                               <div class="block-description">
                                  <h6>Last Night</h6>
                                  <div class="movie-time d-flex align-items-center my-2">
                                     <div class="badge badge-secondary p-1 mr-2">22+</div>
                                     <span class="text-white">2h 15m</span>
                                  </div>
                                  <div class="hover-buttons">
                                     <span class="btn btn-hover">
                                     <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                     Play Now
                                     </span>
                                  </div>
                               </div>
                               <div class="block-social-info">
                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                     <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                     <li><span><i class="ri-heart-fill"></i></span></li>
                                     <li><span><i class="ri-add-line"></i></span></li>
                                  </ul>
                               </div>
                            </div>
                         </a>
                      </li>
                      <li class="slide-item">
                         <a href="movie-details.html">
                            <div class="block-images position-relative">
                               <div class="img-box">
                                  <img src="/images/upcoming/03.jpg" class="img-fluid" alt="">
                               </div>
                               <div class="block-description">
                                  <h6>1980</h6>
                                  <div class="movie-time d-flex align-items-center my-2">
                                     <div class="badge badge-secondary p-1 mr-2">25+</div>
                                     <span class="text-white">3h</span>
                                  </div>
                                  <div class="hover-buttons">
                                     <span class="btn btn-hover">
                                     <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                     Play Now
                                     </span>
                                  </div>
                               </div>
                               <div class="block-social-info">
                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                     <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                     <li><span><i class="ri-heart-fill"></i></span></li>
                                     <li><span><i class="ri-add-line"></i></span></li>
                                  </ul>
                               </div>
                            </div>
                         </a>
                      </li>
                      <li class="slide-item">
                         <a href="movie-details.html">
                            <div class="block-images position-relative">
                               <div class="img-box">
                                  <img src="/images/upcoming/04.jpg" class="img-fluid" alt="">
                               </div>
                               <div class="block-description">
                                  <h6>Looters</h6>
                                  <div class="movie-time d-flex align-items-center my-2">
                                     <div class="badge badge-secondary p-1 mr-2">11+</div>
                                     <span class="text-white">2h 45m</span>
                                  </div>
                                  <div class="hover-buttons">
                                     <span class="btn btn-hover">
                                     <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                     Play Now
                                     </span>
                                  </div>
                               </div>
                               <div class="block-social-info">
                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                     <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                     <li><span><i class="ri-heart-fill"></i></span></li>
                                     <li><span><i class="ri-add-line"></i></span></li>
                                  </ul>
                               </div>
                            </div>
                         </a>
                      </li>
                      <li class="slide-item">
                         <a href="movie-details.html">
                            <div class="block-images position-relative">
                               <div class="img-box">
                                  <img src="/images/upcoming/05.jpg" class="img-fluid" alt="">
                               </div>
                               <div class="block-description">
                                  <h6>Vugotronic</h6>
                                  <div class="movie-time d-flex align-items-center my-2">
                                     <div class="badge badge-secondary p-1 mr-2">9+</div>
                                     <span class="text-white">2h 30m</span>
                                  </div>
                                  <div class="hover-buttons">
                                     <span class="btn btn-hover">
                                     <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                     Play Now
                                     </span>
                                  </div>
                               </div>
                               <div class="block-social-info">
                                  <ul class="list-inline p-0 m-0 music-play-lists">
                                     <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                     <li><span><i class="ri-heart-fill"></i></span></li>
                                     <li><span><i class="ri-add-line"></i></span></li>
                                  </ul>
                               </div>
                            </div>
                         </a>
                      </li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
    </section>

 </div>
 <!-- MainContent End-->
<%- include('footer'); -%>
<%- include('js'); -%>
<%- include('end'); -%>