<%- include('../header'); -%>
 <!-- MainContent -->
 <div id="Main">
    <div class="container">
        <div class="row p-3">

            <div class="col-md-12">
                <div class=" row pb-4">
                    <div class=" col-md-12">
                        <div class=" ">
                            <h3>
                                <%= title %>      
                            </h3>     
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row  ">
        
                    <% programmes.forEach(function (pro,i){ %>
                    <div class=" col-sm-6 col-lg-4 pr-0 pl-0">
                        <div>
                            <a href="/vod/watch/<%= pro.code %> ">
                                <img class=" img-thumbnail" src="/small_images/<%= pro.image %> " alt="">
                                <span class="playlist-content--title">
                                    <%= pro.title %>                                      
                                </span>
                            </a>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
          

        </div>
        
    </div>
</div>
    
 
 <!-- MainContent End-->
<%- include('../footer'); -%>
<%- include('../js'); -%>
<%- include('../../end'); -%>