<%- include('../header'); -%>
 <!-- MainContent -->
 <div id="Main">
  <div class="container">
             
        <!-- <div class="playlist playlist-open">
          <div class="playlist-title">
              Trending                    
            </div>
            <div class="playlist-content">
              <div class="playlist-content--wrap clearfix">
                    <div class="playlist-content--slider">
                      
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-title-cover-1571235520.jpg" alt="">
                                <span class="playlist-content--title">
                                  #11 with Hle Ntombela-Mthethwa                                        
                                </span>
                            </a>
                        </div>
                     
                    </div>
                </div>
                
                <div class="slider-prev"></div>
                <div class="slider-next"></div>
                
            </div>
        </div>
         -->

        
        <% categories.forEach(function (cat,index){ %>
            <% if(cat.programme.length != 0){%> 
        <div class="playlist playlist-open">
          <div class="playlist-title">
              <a href="/vod/cat/<%= cat.code %> "><i class="material-icons">view_module</i></a>
              <%= cat.title %>                    
            </div>
            <div class="playlist-content">
              <div class="playlist-content--wrap clearfix">
                    <div class="playlist-content--slider">
                        <% cat.programme.forEach(function (pro,i){ %>
                        <div>
                            <a href="/vod/watch/<%= pro.code %> ">
                                <img src="/small_images/<%= pro.image %> " alt="">
                                <span class="playlist-content--title">
                                    <%= pro.title %>                                      
                                </span>
                            </a>
                        </div>
                        <% }) %>
             
                        <!-- <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1534245351.png" alt="">
                                <span class="playlist-content--title">
                                  Hope Found In Windsor                                        
                                </span>
                            </a>
                        </div> -->
                        
                      
                        
                    </div>
                </div>
                
                <div class="slider-prev"></div>
                <div class="slider-next"></div>
                
            </div>
        </div>
        <% } %>
        <% }) %>
        

        
    </div>
</div>
 
 <!-- MainContent End-->
<%- include('../footer'); -%>
<%- include('../js'); -%>
<%- include('../../end'); -%>