<%- include('../header'); -%>
<link href="https://unpkg.com/video.js/dist/video-js.min.css" rel="stylesheet">
 <!-- MainContent -->
 <div id="Main">
    <div class="container">
        <div class="fsPlayer fsPlayer_1" id="fsPlayer_1">
            <div class="fsPlayer-overlay">
                <div class="fsPlayer-overlay--container">
                    <div class="fsPlayer-overlay--container-panel">
                        <div class="fsPlayer-overlay--container-panel--player">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="movie-player">
                                        <div class="vjs-video-container">
                                            <video class="video-js vjs-fluid vjs-16-9 vjs-big-play-centered" controls preload="none" width="640" height="264" poster="/large_images/<%= video.image %> " id="fsPlayerVideo_1" playsinline>
                                                <source src="/uploads/<%= video.video %> " type="video/mp4">
                                                <p class="vjs-no-js"></p>
                                            </video>
                                        </div> <!-- /.video-container -->
                                        
                                        <div class="movie-player--footer">
                                            <em class="fa fa-tags"></em> <a href="#" class="ondemand-tag"><%= video.title %></a>       
                                        </div>
                                    </div> <!-- /.movie-player -->
                                </div>
                                <div class="col-lg-4">
                                    
                                    <% if(list.length > 1){%> 
                                    <ul class="nav nav-tabs" id="SeriesTabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="series-tab-1" data-toggle="tab" href="#SeriesTab1" role="tab" aria-controls="SeriesTab1" aria-expanded="true">
                                                <em class="fa fa-align-left"></em> Info
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="series-tab-2" data-toggle="tab" href="#SeriesTab2" role="tab" aria-controls="SeriesTab2">Episodes</a>
                                        </li>
                                    </ul>
                                    <% } %>   
                                    
                                    <div class="tab-content" id="SeriesTabContent">
                                        <div class="tab-pane fade show active" id="SeriesTab1" role="tabpanel" aria-labelledby="series-tab-1">
                                            
                                            <div class="fsPlayer--title"><%= programme.title %> </div>
                                            <div class="fsPlayer--meta">#<%= video.title %> </div>
                                            <div class="fsPlayer--description"><%= video.description %></div>

                                            <% if(season.length != 0){%> 
                                            <div class="fsPlayer--series">
                                                Now playing <strong><%= video.season.title %></strong>. <br>Also available: 
                                                <% season.forEach(function (sea,i){ %>
                                                    <% if(sea.title != video.season.title){%> 
                                                        <a href="#"><%= sea.title %></a>
                                                    <% } %>    
                                                <% }) %>                                                  
                                            </div>
                                            <%}%> 
                                            
                                        </div>
                                        
                                        <div class="tab-pane fade" id="SeriesTab2" role="tabpanel" aria-labelledby="series-tab-2">
                                            <% if(season.length != 0){%> 
                                            <div class="fsPlayer--series" style="margin-bottom: 20px;">
                                                Now playing <strong><%= video.season.title %></strong>. <br>Also available: 
                                                <% season.forEach(function (sea,i){ %>
                                                    <% if(sea.title != video.season.title){%> 
                                                        <a href="#"><%= sea.title %></a>
                                                    <% } %>    
                                                <% }) %>    
                                            </div>
                                            <%}%> 

                                            <ul class="series-list">
                                                <% list.forEach(function (item,i){ %>
                                                <li 
                                                <% if(item.code == video.code){%> 
                                                class="active"
                                                <% } %>  
                                                >
                                                    <a href="/vod/watch/<%= programme.code  %>/<%= item.code %> ">
                                                        <em class="fa fa-fw fa-play"></em>
                                                        #<%= item.title %>                                                              
                                                    </a>
                                                </li>
                                                <% }) %>  
                                            </ul>
                                        </div>
                                    </div>
                                        
                                    <div class="fsPlayer--controls">
                                        <p><strong>You are currently not logged in</strong>. To benefit from our full VOD offering, please <a href="">login</a> or <a href="">signup</a> now.</p>
                                        
                                        <a href="" class="highlight-access">
                                            <i class="material-icons">favorite_border</i>
                                            <span>1</span>
                                        </a>
                                        <a href="" class="highlight-access">
                                            <i class="material-icons">playlist_add</i>
                                            <span>Watch Later</span>
                                        </a>
                                        <span class="ctrl-3-x">
                                            <i class="material-icons">video_library</i>
                                            <span>More Like This</span>
                                        </span>

                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                
        

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
 <!-- MainContent End-->
<%- include('../footer'); -%>
<%- include('../js'); -%>
<script src="https://unpkg.com/video.js/dist/video.js"></script>
<script src="https://unpkg.com/@videojs/http-streaming/dist/videojs-http-streaming.js"></script>

<script>
    var _play_count = 0;
    var player_x = videojs('fsPlayerVideo_1')//.ready(function() {
        
        player_x.on('ended', function() {
            if (screenfull.enabled) {
                screenfull.exit();
            }
            
            if ($('#cb4').length) {
                if (document.getElementById('cb4').checked) {
                    $('.autoplay .toggle-btn > span.loading').addClass('icu');
                    document.getElementById('cb4').disabled;
                    window.setTimeout(function() {
                        window.location.replace("32-with-vanessa-goosen/autoplay.html");
                    }, 5000); // Wait 5 seconds and load next
                }
            }

        });
        
        player_x.on('play', function() {
            if ($('#SeriesTabs').length) {
                $('#SeriesTabs a[href="#SeriesTab2"]').tab('show');
            }
            
            if (_play_count == 0) {
                /* ADD TO HISTORY */
                _play_count++;
                $.get(siteRoot+'ajax.php', {
                    menu: 'doAnonView', 
                    oid: 3,
                    tid: 289					}, function(data){console.log('289 added to history')});
            }
            
        });
    //});
</script>
<%- include('../../end'); -%>