<%- include('../header'); -%>
<div class="content">
    <div class="container">
      <div class="block">
          <div class="contact-page" id="prayerForm">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="block">
                    <div class="live-audience clearfix">
                        <h2 class="block-title"><span>BECOME</span>  A PROGRAMMER
                        </h2>
                      <p>Thank you for wanting to be a part of the FAITH TO FAITH TV, where viewers experience 
                        the message of faith and inspiring television like never before!</p>
                      <hr />
                      <p>&nbsp;</p>
                        <div id = "message"></div>
                          <h4 class = "pb-2">CONTACT DETAILS</h4>
                          <form id = "become-programmer">
                          <div class="form-group">
                          <label for="fullname">*Your Full Name</label>
                          <input value="" id="fullname" name="fullname" type="text" class="form-control" placeholder="Your Full Name (Required)" required>                  
                        </div>
                        
                        <div class="form-group">
                          <label for="email">* Email address</label>
                          <input value="" id="email" name="email" type="email" class="form-control" placeholder="Email Address (Required)" required>                  
                        </div>
                        
                        <hr />
                        <div class="form-group">
                          <label for="phone">*Phone number</label>
                          <input value="" id="phone" name="phone" type="text" class="form-control" placeholder="Phone Number (Required)" required>                 
                       </div>
                       <div class="form-group">
                        <label for="location">Location</label>
                        <input value="" id="location" name="location" type="text" class="form-control" placeholder="Location" required>                 
                     </div>
                       <div class="form-group">
                          <label for="ministry">Minstry Name</label>
                          <input value="" id="ministry" name="ministry" type="text" class="form-control" placeholder="Ministry Name" required>                 
                       </div> 
                       <div class="form-group">
                          <label for="url">Website URL or Facebook Page</label>
                          <input value="" id="url" name="url" type="tel" class="form-control" placeholder="Website URL" required>                 
                       </div>
                       <div class="form-group">
                        <label for="web">Program or Ministry Website</label>
                        <input value="" id="web" name="web" type="text" class="form-control" placeholder="Ministry Website" required>                 
                     </div>
                       <br>
                       <h4 class = "pb-2">PROGRAMME DETAILS</h4>
                       <div class="form-group">
                          <label for="prog_title">*Programme Title</label>
                          <input value="" id="prog_title" name="prog_title" type="text" class="form-control" placeholder="Enter programme title (Required)" required>                 
                       </div>
                       <div class="form-group">
                          <label for="prog_desc">*Describe your programme</label>
                          <textarea id="prog_desc" name="prog_desc" rows="5" class="form-control" placeholder="Enter your programme synopsis (Required)" required></textarea>                  
                      </div>
                      <div class = "form-group">
                          <label for="video">*Video url</label>
                          <input placeholder = "Youtube/Vimeo url" id = "video" type="text" name = "video" class = "form-control" required>
                          <span class = "video-text">Most important of all, please enter a YouTube or Vimeo video link of your programme above.</span>
                      </div>
                      <h4 class = "pb-2">DECLARATIONS</h4>
                      <div class = "form-group">
                          <label for="first_time">1. * Have you submitted to this channel before? K
                              indly indicate if yes? (State video content and date of submission)</label>
                          <select class ="form-control" name="declaration" id="declaration" required>
                              <option>CHOOSE AN OPTION</option>
                             <option value="1">YES</option>
                             <option value="0">NO</option>
                          </select>
                      </div>
                      <hr>
                      <div class = "form-group">
                          <label for="relationship">2. * Do you have an existing personal relationship with anyone at this 
                              channel that needs to be declared? </label>
                          <select class ="form-control" name="relationship" id="relationship" required>
                              <option>CHOOSE AN OPTION</option>
                             <option value="1">YES</option>
                             <option value="0">NO</option>
                          </select>
                      </div>
                        <p>
                            <label class="chkBox">
                                <input type="checkbox" value="Y" id="terms1" name="agree_phone" class="inputCheckbox" /> 
                                <strong>By using this service i agree to FAITH TO FAITH TV's <a href = "">Terms of Service</a> and privacy policy</strong>
                              </label>
                        </p>
                        <hr />
                        <div>
                          <div class = "form-group">
                              <label class="chkBox">
                                  <span>
                                      <input type="checkbox" value = "Y" id = "terms2" class = "inputCheckbox">
                                      <span><strong>I consent to the processing of my personal data by FAITH TO FAITH TV with its registered office Port Harcourt,
                                         Rivers State, Nigeria, in order to provide services available on the site faithtofaithtv.org. I am informed about the right
                                          to the contents of my personal data and can make corrections to it when needed.
                                      </span>
                                  </span>
                              </label>
                          </div>
                            <p><small><i>* Required fields</i></small></p>
                        </div>
                    
                        <div style="text-align: right; margin-top: 10px;">
                          <button class="g-recaptcha btn btn-primary"><em class="fa fa-send"></em> Submit</button>
                        </div>
                        
                        <div class="clearfix"></div>
                      </form>
                   </div>
              
                    <style>
                  
                      #prayerForm hr {
                          height: 1px;
                          background: #E1E1E1;
                          margin: 20px 0;
                      }
                      .chkBox {
                          display: block;
                          font-weight: normal;
                          margin-bottom: 0;
                          padding: 5px;
                          background: #F1F1F1;
                          border-radius: 4px;
                          border: 1px solid #E1E1E1;
                          cursor: pointer;
                      }
                      .chkBox.has-error {
                          background: #da4453;
                          border: #da4453;
                          color: #FFF;
                      }
                      .chkBox > input {
                          float: left;
                          margin-right: 10px;
                      }
                      .chkBox > small {
                          display: block;
                          padding: 7px 0 0 23px;
                      }
              
              </style>
                </div> 
              </div>
              <%- include('../faith'); -%>  
            </div> <!-- /.row -->
          </div> <!-- /.contact -->
        </div> <!-- /.block -->

      <hr>
      <div class="sharethis-inline-share-buttons"></div>

    </div> <!-- /.block -->
    </div>


<%- include('../footer'); -%>
<%- include('../js'); -%>
<script>
  $(document).on('submit', '#become-programmer', function(event) {
      event.preventDefault();
      const data = {
          "fullName": $("#fullname").val(),
          "email":  $("#email").val(),
          "phone": $("#phone").val(),
          "location": $("#location").val(),
          "ministryName": $("#ministry").val(),
          "webUrl": $("#url").val(),
          "programmeTitle" : $("#prog_title").val(),
          "programmeDescription" : $("#prog_desc").val(),
          "videoURL" : $("#video").val(),
          "firstTimeProduction": $("#declaration").val(),
          "personalRelationships" : $("#relationship").val(),
        }        
        if (!$('#terms1').prop('checked') || !$('#terms2').prop('checked')){
          $('#message').html(`
              <div style ="color:white" class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Attention</strong> Please accept all terms and conditions.
              </div>`);
              window.scrollTo({
              top: 0,
              left: 0,
              behavior: 'smooth'
          });
        }else{
      jQuery.ajax({
          url: '/become_programmer',
          method: "POST",
          dataType : "json",
          data: JSON.stringify(data),
          "contentType": "application/json",
          success: function(response) { 
              console.log(response);
              if(response.status==200){
                  $('#message').html(`
                  <div style ="color:white" class="alert alert-success alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   <strong>${response.message}</strong>
                  </div>`);
                  window.scrollTo({
                    top: 0,
                    left: 0,
                    behavior: 'smooth'
                  });
                  $('#become-programmer')[0].reset();
              }
          },
          error:function(jqXhr){
              if(jqXhr.status ==400){
                  let responseText = jQuery.parseJSON(jqXhr.responseText);
                  $('#message').html(`
                        <div style ="color:white" class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <strong>${responseText}</strong>
                     </div>`)
                   console.log(responseText);
              }
          }
      });
     }
  });


</script>
<%- include('../../end'); -%>