<%- include('../header'); -%>
  <!-- Banner Start -->
<section class="iq-main-slider p-0">
    <div id="tvshows-slider">
       <div>
            <div class="shows-img">
                <img src="/large_images/<%= category.image %>" class="w-100" alt="">
                <div class="shows-content">
                    <h4 class="text-white mb-1"><%= category.title %></h4>
                </div>
            </div>
       </div>
    </div>
</section>

 <!-- Banner End -->
  <!-- MainContent -->
  <div class="main-content movi mt-0">
    <section class="movie-detail container-fluid">
       <div class="row">
          <div class="col-lg-12">
             <div class="trending-info g-border">
              
                <p class="trending-dec w-100 mb-0">
                  <%= category.description %>
                </p>
                <ul class="list-inline p-0 mt-4 share-icons music-play-lists">
                   <li class="share">
                      <span><i class="ri-share-fill"></i></span>
                      <div class="share-box">
                         <div class="d-flex align-items-center">
                            <a href="#" class="share-ico"><i class="ri-facebook-fill"></i></a>
                            <a href="#" class="share-ico"><i class="ri-twitter-fill"></i></a>
                            <a href="#" class="share-ico"><i class="ri-links-fill"></i></a>
                         </div>
                      </div>
                   </li>
                </ul>
             </div>
          </div>
       </div>
    </section>

    <section id="iq-favorites">
        <div class="container-fluid">
           <div class="block-space">
              <div class="row">
               <%for (var video in videos){%> 
                 <div class="col-1-5 col-md-6 iq-mb-30">
                    <div class="epi-box">
                       <div class="epi-img position-relative">
                          <img src="/large_images/<%= videos[video].image %>" class="img-fluid img-zoom" alt="">
                          <div class="episode-number">1</div>
                          <div class="episode-play-info">
                             <div class="episode-play">
                                <a href="">
                                   <i class="ri-play-fill"></i>
                                </a>
                             </div>
                          </div>
                       </div>
                       <div class="epi-desc p-3">
                          <div class="d-flex align-items-center justify-content-between">
                             <span class="text-white"><%= moment(videos[video].addedOn).calendar() %></span>
                             <span class="text-primary"><%= videos[video].duration %>m</span>
                          </div>
                          <a href="">
                             <h6 class="epi-name text-white mb-0">
                              <%= videos[video].title %>
                             </h6>
                          </a>
                       </div>
                    </div>
                 </div>
                 <%}%> 
              </div>
           </div>
        </div>
     </section>
   
 </div>
 <!-- MainContent End-->
<%- include('../footer'); -%>
<%- include('../js'); -%>
<%- include('../../end'); -%>