<%- include('../header'); -%>
<div style ="padding-bottom: 150px;" class="content">
    <div class="container">
        <div class="block">
            <h2 class="block-title">Update Account Password</h2>
            <div class="mytbn">
                <div class="row">
                    <div class="col-md-9">
                        <form id="change-password">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Change password</h4>
                                    <div class="form-group">
                                        <div style = "text-align:center" class="alertBox" role="alert"></div>
                                        <label for="previous_pass">Previous password</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                            <input type="hidden" id = "userId" name = "userId" value = "<%= currentUser._id %>">
                                            <input name = "previous_pass"  id = "previous_pass" type="password" class = "form-control">
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="new_password">New password</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                            <input id = "new_password" name = "new_password" type="password" class = "form-control">
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="confirm_password">Confirm New password</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fas fa-lock"></i>
                                                </span>
                                                <input id = "confirm_password" name = "confirm_password" type="password" class = "form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <button class = "btn btn-primary">Change password</button>
                        </form>
                    </div>
                    <div class="col-md-3">
                        <div style = "margin-top:35px;" class="mytbn-nav ">
                            <div class="item">
                              <h4>My Account</h4>
                                <ul>
                                    <li>
                                        <a href="/vod">
                                            <i class = "fas fa-sync"></i>
                                             On Demand
                                        </a>
                                    </li>
                                    <li>
                                      <a href="/edit-profile">
                                          <i class = "far fa-edit"></i>
                                          Edit profile
                                      </a>
                                  </li>
                                  <li>
                                      <a href="/change-password">
                                          <i class = "fas fa-user-lock"></i>
                                          Change password
                                      </a>
                                  </li>
                                  <li>
                                      <a href="/logout">
                                          <i class = "fas fa-sign-out-alt"></i>
                                          Logout
                                      </a>
                                  </li>
                                </ul>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../footer'); -%>
<%- include('../js'); -%>
<script>

    $('#change-password').validate({
    rules: {
        previous_pass : {
          required: true,
      },
      new_password : {
          required: true,
      },
      confirm_password : {
          required: true,
          equalTo : "#new_password"
      },
    },
    messages: {
        previous_pass: 'Previous password is required',
        confirm_password: 'New password and Confirm password MUST match',
    },
    errorPlacement: (error, element) => {
        error.appendTo(element.parent("div").parent("div") );
    },
    submitHandler: () => {
      
        const data = {
            "password": $("#confirm_password").val(),
            "previous": $("#previous_pass").val(),
            "userId": $("#userId").val(),
        }
    
     $.ajax({
         url: '/change_password',
         type: 'PUT',
         dataType: 'json',
         data,
         success: data => {
            $(".alertBox").html(data.message).addClass('green');
            $('#change-password')[0].reset();
            
         },
         error: data => {
            $(".alertBox").removeClass("green");
            $(".alertBox").html(data.responseJSON.msg).addClass('red');
         },
        });
       }
    });
    $(document).on('submit', '#change-password', event => {
    $(document).ready(function (){
    event.preventDefault();
  });
  });
</script>
<%- include('../../end'); -%>