<%- include('../header'); -%>
<div style ="padding-bottom: 150px;" class="content ">
    <div class="container">
        <div class="block">
            <h2 class="block-title">Edit Profile Records</h2>
            <div class="mytbn">
                <div class="row">

                    <div class="col-md-9">
                        <form id = "update-form">

                            <div class="row">
                                <div style = "text-align:center; padding-bottom:30px" class="alertBox" role="alert"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">FIRST NAME:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-user"></i>
                                            </span>
                                            <input type="hidden" id = "userId" name = "userId" value = "<%= user._id %>">
                                            <input name ="firstname"  id = "firstname" value = "<%=currentUser.firstname %>" type="text" class = "form-control">
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="middlename">MIDDLE NAME:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-user"></i>
                                            </span>
                                            <input name = "middlename" id = "middlename" value = "<%=currentUser.middlename %>" type="text" class = "form-control">
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label for="lastname">LASTNAME:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-user"></i>
                                            </span>
                                            <input name = "lastname" id = "lastname" value = "<%=currentUser.lastname %>" type="text" class = "form-control">
                                        </div>
                                    </div>
                                    </div>
                                
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="dob">DATE OF BIRTH:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-calendar"></i>
                                            </span>
                                            <input name ="dob" id = "dob" value = " <%=currentUser.dateOfBirth %>" type="text" class = "form-control" placeholder="E.g 1946-12-31">
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="address">ADDRESS:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-home"></i>
                                            </span>
                                            <input name ="address" id = "address" value = "<%=currentUser.address %>" type="text" class = "form-control">
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="location">LOCATION:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-map-marker-alt"></i>
                                            </span>
                                            <input name = "location" id = "location" value = " <%=currentUser.location %>" type="text" class = "form-control">
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lga">LOCAL GOVERNMENT AREA:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-street-view"></i>
                                            </span>
                                            <input name = "lga" id = "lga" value = "<%=currentUser.LGA %>" type="text" class = "form-control">
                                        </div>
                                    </div>
                                    </div>
                        
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">EMAIL:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                            <input id = "email" value = "<%=currentUser.email %>" type="text" class = "form-control">
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="church_chapter">CHURCH CHAPTER:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-church"></i>
                                            </span>
                                            <input name = "church_chapter" id = "church_chapter" value = "<%=currentUser.chapterLocation %>" type="text" class = "form-control">
                                        </div>
                                    </div>
                                    </div>
                        
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="resident_pastor">RESIDENT PASTOR:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-user-tie"></i>
                                            </span>
                                            <input name = "resident_pastor" id = "resident_pastor" value ="<%=currentUser.residentPastor %> "type="text" class = "form-control">
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="organization">NAME OF MINISTRY/ORGANIZATION:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-sitemap"></i>
                                            </span>
                                            <input name = "organization" id = "organization" value = "<%=currentUser.organisationName %>" type="text" class = "form-control">
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                <button style ="margin-top:10px;" class = "btn btn-primary">Update profile record</button>
                            </form>
                        </div>
                    <div class="col-md-3">
                      <div style = "margin-top:70px;" class="mytbn-nav ">
                          <div class="item">
                            <h4>My Account</h4>
                              <ul>
                                  <li>
                                      <a href="/vod">
                                          <i class = "fas fa-sync"></i>
                                           On Demand
                                      </a>
                                  </li>
                                  <li>
                                    <a href="/edit-profile">
                                        <i class = "far fa-edit"></i>
                                        Edit profile
                                    </a>
                                </li>
                                <li>
                                    <a href="/change-password">
                                        <i class = "fas fa-user-lock"></i>
                                        Change password
                                    </a>
                                </li>
                                <li>
                                    <a href="/logout">
                                        <i class = "fas fa-sign-out-alt"></i>
                                        Logout
                                    </a>
                                </li>
                              </ul>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../footer'); -%>
<%- include('../js'); -%>
<script>
    $('#update-form').validate({
    rules: {
        firstname: 'required',
        middlename: 'required',
        lastname: 'required',
        dob:{
         required: "Date of Birth is required",
         date:"Enter date only"
       },
       address: 'required',
       lga: 'required',
       location: 'required',
       email: {
        required: true,
        email: true,
       },
       church_chapter: 'required',
       resident_pastor: 'required',
       organization: 'required',

    },
    messages: {
        firstname: 'Please provide firstname',
        middlename: 'Please provide middlename',
        lastname: 'Please provide lastname',
        dob:{
         required: "Date of Birth is required",
         date:"enter date only"
       },
       address: 'Please provide address',
       lga: 'Please provide Local Government Area',
       location: 'Please provide location',
       email: 'Please provide a valid email',
       church_chapter: 'Please provide Church chapter',
       resident_pastor: 'Please provide Resident Pastor',
       organization: 'Please provide organization',

    },
    errorPlacement: (error, element) => {
        error.appendTo(element.parent("div").parent("div") );
    },
    submitHandler: () => {
        const data = {
            "firstname": $("#firstname").val(),
            "middlename": $("#middlename").val(),
            "lastname": $("#lastname").val(),
            "dateOfBirth": $("#dob").val(),
            "location": $("#location").val(),
            "address": $("#address").val(),
            "LGA": $("#lga").val(),
            "email": $("#email").val(),
            "chapterLocation": $("#church_chapter").val(),
            "residentPastor": $("#resident_pastor").val(),
            "organisationName": $("#organization").val(),
            "userId" : $("#userId").val(),
        }
        
     $.ajax({
         url: '/update_profile',
         type: 'PUT',
         dataType: 'json',
         data,
         success: data => {
            $(".alertBox").html(data.message).addClass('green');
         },
         error: data => {
            $(".alertBox").removeClass("green");
            $(".alertBox").html(data.responseJSON.msg).addClass('red');
         },
        });
       }
    });
    $(document).on('submit', '#update-form', event => {
    $(document).ready(function (){
    event.preventDefault();
  });
  });
</script>
<%- include('../../end'); -%>