<%- include('../header'); -%>
<%- include('../slider'); -%>
  <!-- MainContent -->
  <div class="main-content">
   <section id="iq-favorites">
      <div class="container-fluid">
         <div class="block-space">
            <div class="row">
               <div class="col-sm-12 overflow-hidden">
                  <div class="iq-main-header d-flex align-items-center justify-content-between">
                     <h4 class="main-title">Latest Categories</h4>
                     <a href="" class="text-primary">View all</a>
                  </div>
               </div>
            </div>
            <div class="row">
               
               <%for (var cat in categories){%> 
                  <div class="col-1-5 col-md-6 iq-mb-30">
                     <div class="epi-box">
                        <div class="epi-img position-relative">
                           <img src="/small_images/<%= categories[cat].image %>" class="img-fluid img-zoom" alt="">
                        </div>
                        <div class="epi-desc p-3">
                           <a href="">
                              <h6 class="epi-name text-white mb-0">
                                 <%= categories[cat].title %>
                              </h6>
                           </a>
                        </div>
                     </div>
                  </div>
               <%}%>
               
              
            </div>
         </div>
      </div>
   </section>

 </div>
 <!-- MainContent End-->
<%- include('../footer'); -%>
<%- include('../js'); -%>
<%- include('../../end'); -%>