<%- include('../header'); -%>
   <!-- MainContent -->
   <link href="https://unpkg.com/video.js/dist/video-js.min.css" rel="stylesheet">
   <div class="content">
      <div class="container">
       <!-- // TODAYS HIGHLIGHTS // -->
       <div class="block">
         <div class="row">
            <div class="col-xs-12 col-md-8">
              <video id="my_video_1"  class="video-js vjs-default-skin  vjs-big-play-centered vjs-live vjc">
                <source src="https://live.faithtofaithtv.org/hls/<%= settings.publicStreamKey %>.m3u8" type="application/x-mpegURL">
              </video>
              <!-- <video id="my_video_1" class="video-js vjs-fluid vjs-16-9 vjs-big-play-centered" style="width: 100%; height: 100%; min-height: 350px;"    preload="auto" >
              </video> -->
          
           </div> <!-- /.col -->
            
            <div class="col-xs-12 col-md-4">
 
              <div class="schedule">
                <h3>
                     <em id="schedule-prev" class="fa fa-caret-left"></em>
                     <span>Now Showing</span>
                     <em id="schedule-next" class="fa fa-caret-right"></em>
                     <div class="clearfix"></div>
                  </h3>
               <div class="scroller-wrap">
                 <ul id="scroller">
                
                  <% var showing %>
                  <% schedules.forEach(function (schedule,index){ %>
                   <li class="item alt now">
                     <span class="time"><%= moment(schedule.startTime).format('LT') %> </span>
                     <span class="program">
                       <% if(new Date(schedule.startTime) <= new Date() && new Date(schedule.endTime) >= new Date() ){%> 
                        <% showing  = index  ; %>
                       <a href="#" class="tbnuk-live-stream">Watch Now</a> -
                       <% } %> 
                        <%= schedule.show.title %> 
                     </span> 
                   </li>

                  <% }) %> 
                 
                
               
              
                 </ul>
                 <div class="overlay"><a href="" class="tbnuk-live-stream"></a></div>
               </div> <!-- /.scroller-wrap -->
               <div class="download"><a href="/schedule" id="ToggleSchedulePDF"><em class="fa fa-fw fa-download"></em> Download Schedule</a></div>
             </div> <!-- /.schedule -->
 
             <script>
          $(function() {
            var showing =  '<% showing %>'
            var _moves = 0;
            var _nt = $('.schedule #scroller').newsTicker({
               row_height: 30,
               max_rows: 5,
               autostart: showing<7?0:1,
               speed: 5,
               duration: 10,
               prevButton: $('#schedule-prev'),
               nextButton: $('#schedule-next'),
               hasMoved: function() {
                  _moves++;
                  if (_moves >= showing+3) {
                     _nt.newsTicker('stop');
                     _nt.newsTicker('updateOption', 'autostart', 0);
                     _nt.newsTicker('updateOption', 'speed', 400);
                     _nt.newsTicker('updateOption', 'duration', 2500);
                  }
               }			  });
 
            });
          </script>
 
             <div class="donate-now">
                <a href="/partnership">
                     <h3>Partners</h3>
                     <p style="text-transform: uppercase; font-size: 12px;">Click here to partner with us</p>
                 </a>
             </div> <!-- /.donate-now -->

             <div class="donate-now faithmember">
              <a href="/vod/webcast">
                   <h3 class=" member">Members Only</h3>
               </a>
           </div> <!-- /.donate-now -->
 
           </div> <!-- /.col -->
         </div> <!-- /.row -->
       </div> <!-- /.block -->
 
       <hr>
 
 
      <hr>
 
       <div class="block">
         <h2 class="block-title"><span>TV</span> Highlights</h2>
         <div class="row">

          <% highlight.forEach(function (hl,index){ %>

             <div class="col-xs-12 col-md-6">
                 <div class="program">
                   <div class="has-overlay">
                     <img src="/large_images/<%= hl.show.image %> " class="img-responsive" alt="">
                   <span class="overlay">
                         <span class="caption"><%= moment(hl.startTime).format('dddd') %> </span>
                       <span class="time"><%= moment(hl.startTime).format('LT') %></span>
                   </span>
                 </div> 
                 <div class="info">
                     <div class="equal-height">
                     <h3><%= hl.show.title %> </h3>
                     <p><%= hl.show.description %></p>
                     <div class="overlay"></div>
                   </div> 
                 </div> 
               </div> 
             </div> 
             <% }) %> 
         
         </div> <!-- /.row -->
       </div> <!-- /.block -->
 
      <hr>
      
      
      <hr>
 
 
       <!-- // TBN PLAY // -->
       <div class="block">
          <h2 class="block-title">LATEST  <span>VIDEOS</span></h2>
         <div class="row">

          <% latestVideos.forEach(function (video,index){ %>
           <div class="col-xs-12 col-sm-6 col-md-3">
             <div class="item video">
               <div class="cover">
                 <a href="/vod/watch/<%= video.programme.code %>/<%= video.code %> ">
                   <img src="/large_images/<%= video.image %> " class="img-responsive" alt="Lucy Grimble - Still I Will Praise ft Bianca Rose ">
                   <span class="overlay play"></span>
                 </a>
               </div> 
               <div class="info">
                 <div class="equal-height">
                   <h3><a href=""><%= video.programme.title %> </a></h3>
                   <h4><%= video.title %>  </h4>
                   <p><%= video.description %>.</p>
                 </div> 
                 <div class="overlay"></div>
               </div> 
             </div> 
           </div> 
           <% }) %> 
         
        
          
         </div> <!-- /.row -->
       </div> <!-- /.block -->


    
 
 <hr>
 
 
 <hr>
 
 
     <!-- // ON DEMAND // -->
     <div class="block on-demand now-trending">
         <h2 class="block-title">Now <span>Trending</span> On-Demand</h2>
         
             
             <div class="carousel-a">
                <div class="container-full">
                    <div class="clearfix">
                        <div class="carousel-block">
                            <div class="equal-height">
                                 <div class="slider-wrap">
                                     <div class="slider variable">
                      
                                      <% trendingVideos.forEach(function (trending,index){ %>
                                         <div>
                                             <a href="/vod/video/<%= trending.code %> ">
                                                 <img src="/small_images/<%= trending.image %> " height="152px" alt="">
                                                 <span><%= trending.title %> </span>
                                                 <em class="fa fa-play fa-2x"></em>
                                             </a>
                                         </div>
                                        <% }) %> 
                                    
                                     </div> <!-- /.slider -->
                                     <div class="slider-prev"></div>
                                     <div class="slider-next"></div>
                                 </div> <!-- /.slider-wrap -->
                             </div> <!-- /.equal-height -->
                         </div> <!-- /.col -->
                     </div> <!-- /.row -->
                 </div> <!-- /.container -->
             </div> <!-- /.carousel-a -->
       </div> <!-- /.block -->
 
       <script>
         $(document).on('ready', function() {
             
             $('.variable').slick({
                 dots: false,
                 infinite: true,
                 variableWidth: true,
                 slidesToShow: parseInt('<%= trendingVideos.length-1 %>'),
                 slidesToScroll: 1
             });
             
         });
         </script>
       
 <hr>
 
 
       <div class="sharethis-inline-share-buttons"></div>
     
     </div> <!-- /.container -->
   </div> <!-- /.content -->
 <!-- MainContent End-->
<%- include('../footer'); -%>
<%- include('../js'); -%>
<script src="https://unpkg.com/video.js/dist/video.js"></script>
<script src="https://unpkg.com/@videojs/http-streaming/dist/videojs-http-streaming.js"></script>
<script>
  var link = "https://live.faithtofaithtv.org/hls/<%= settings.publicStreamKey %>.m3u8"
  var video = videojs('my_video_1', {
      controls: true,
      preload: 'auto',
      autoplay: 'muted',
      liveui: true,
   }).ready(function(){
    var player = this;
      player.load(); 
      player.play();

      player.on('ended', function() {
         alert('video is done!');
      });

      player.on('error', function() {
         
         setTimeout(function(){ 
            player.reset() 
            player.src({ type: "application/x-mpegURL", src: link  })
            player.load(); 
            player.play();
         }, 5000);
         // if(this.error().code === 2) {
         //    player.load(); 
         //    player.play();
         // }
      });
   });

</script>
<%- include('../../end'); -%>