<%- include('../header'); -%>

<div class="content">
    <div class="container">
      <div class="block">
          <div class="contact-page" id="prayerForm">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="block">
                    <div class="live-audience clearfix">
                        <h2 class="block-title"><span>SUBMIT YOUR</span> MUSIC VIDEO
                        </h2>
                      <p>Thank you for wanting to be a part of the FAITH TO FAITH TV, where viewers experience the message of faith and inspiring television like never before!
                          To submit your video, please complete all the fields below. *PLEASE NOTE that we do not commission content.</p>
                      <hr />
                      <p>&nbsp;</p>
                          <h4 class = "pb-2">INFORMATION</h4>
                          <div id = "message"></div>
                          <form id = "music-video">
                          <div class="form-group">
                          <label for="title">*Video Title</label>
                          <input value="" id="title" name="title" type="text" class="form-control" placeholder="Video Title (Required)" required>                  
                        </div>
                        <div class = "form-group">
                          <label for="genre">* Genre</label>
                          <select class ="form-control" name="genre" id="genre" required>
                            <option>Choose an option</option>
                           <option value="documentary">Documentary</option>
                           <option value="comedy">Comedy</option>
                        </select>
                      </div>
                        
                        <div class="form-group">
                          <label for="supplier">* Supplier / Individual Name</label>
                          <input value="" id="supplier" name="supplier" type="text" class="form-control" placeholder="Supplier / Individual Name (Required)" required>                  
                        </div>
                        
                        <hr />
                        <div class="form-group">
                          <label for="phone">*Phone number</label>
                          <input value="" id="phone" name="phone" type="text" class="form-control" placeholder="Phone Number (Required)" required>                 
                       </div>
                       <div class="form-group">
                          <label for="contact">* Contact Person</label>
                          <input value="" id="contact" name="contact" type="text" class="form-control" placeholder="* Contact Person (Required)" required>                 
                       </div> 
                       <div class="form-group">
                          <label for="email">* Email Address</label>
                          <input value="" id="email" name="email" type="email" class="form-control" placeholder="Email address" required>                 
                       </div>
                       <br>
                       <div class="form-group">
                          <label for="phone">Phone number</label>
                          <input value="" id="phone" name="phone" type="text" class="form-control" placeholder="Phone Number" required>                 
                       </div>
                       <div class="form-group">
                          <label for="location">Location</label>
                          <input value="" id="location" name="location" type="text" class="form-control" placeholder="Location" required>                 
                      </div>
                      <div class = "form-group">
                        <label for="owner">* Do you own the rights to this video?</label>
                          <select class ="form-control" name="owner" id="owner" required>
                            <option>Choose an option</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                          </select>
                      </div>                      <h4 class = "pb-2">ASSETS</h4>
                      <div class = "form-group">
                        <label for="video">*Video url</label>
                        <input placeholder = "Youtube/Vimeo url" type="text" name = "video" id = "video" class = "form-control" required>
                        <span class = "video-text">Most important of all, please enter a YouTube or Vimeo video link of your programme above.</span>
                      </div>
                      <h4 class = "pb-2">DECLARATIONS</h4>
                      <div class = "form-group">
                          <label for="first_time">1. * Have you submitted to this channel before? K
                              indly indicate if yes? (State video content and date of submission)</label>
                          <select class ="form-control" name="first_time" id="first_time">
                              <option>CHOOSE AN OPTION</option>
                             <option value="1">YES</option>
                             <option value="0">NO</option>
                          </select>
                      </div>
                      <hr>
                      <div class = "form-group">
                          <label for="relationship">2. * Do you have an existing personal relationship with anyone at this 
                              channel that needs to be declared? </label>
                          <select class ="form-control" name="relationship" id="relationship">
                              <option>CHOOSE AN OPTION</option>
                             <option value="1">YES</option>
                             <option value="0">NO</option>
                          </select>
                      </div>
                        <p>
                            <label class="chkBox">
                                <input type="checkbox" value="Y" id="terms1" name="terms1" class="inputCheckbox chk" /> 
                                <strong>By using this service, i agree to  FAITH TO FAITH TV's  <a href = "">Terms of Service</a> and privacy policy</strong>
                              </label>
                        </p>
                        <hr />
                        
                          <div class = "form-group">
                              <label class="chkBox">
                                  <span>
                                      <input type="checkbox" value = "Y" class = "inputCheckbox chk" id="terms2" name="terms2">
                                      <span><strong>I consent to the processing of my personal data by FAITH TO FAITH TV 
                                          with its registered office in Port Harcourt, Rivers State, Nigeria, in order to 
                                          provide services available on the site faithtofaithtv.org. I am informed about the
                                           right to the contents of my personal data and can make corrections to it when needed. 
                                           By filling this form, you are granting FAITH TO FAITH TV the rights to use your videos 
                                           royalty free for promotional purposes and other uses where necessary.
                                      </span>
                                  </span>
                              </label>
                          </div>
                            <p><small><i>* Required fields</i></small></p>
                        
                        <div style="text-align: right; margin-top: 10px;">
                          <button class="g-recaptcha btn btn-primary"><em class="fa fa-send"></em> Submit</button>
                        </div>
                        
                        <div class="clearfix"></div>
                      </form>
                   </div>
              
                    <style>
                  
                      #prayerForm hr {
                          height: 1px;
                          background: #E1E1E1;
                          margin: 20px 0;
                      }
                      .chkBox {
                          display: block;
                          font-weight: normal;
                          margin-bottom: 0;
                          padding: 5px;
                          background: #F1F1F1;
                          border-radius: 4px;
                          border: 1px solid #E1E1E1;
                          cursor: pointer;
                      }
                      .chkBox.has-error {
                          background: #da4453;
                          border: #da4453;
                          color: #FFF;
                      }
                      .chkBox > input {
                          float: left;
                          margin-right: 10px;
                      }
                      .chkBox > small {
                          display: block;
                          padding: 7px 0 0 23px;
                      }
              
              </style>
                </div> 
              </div>
              <%- include('../faith'); -%>  
            </div> <!-- /.row -->
          </div> <!-- /.contact -->
        </div> <!-- /.block -->

      <hr>
      <div class="sharethis-inline-share-buttons"></div>

    </div> <!-- /.block -->
    </div>

<%- include('../footer'); -%>
<%- include('../js'); -%>
<script>
  $(document).on('submit', '#music-video', function(event) {
      event.preventDefault();
      let contactForm = $(this)
      const data = {
          title : jQuery("#title").val(),
          genre : jQuery("#genre").val(),
          supplierName : jQuery("#supplier").val(),
          email :jQuery("#email").val(),
          phoneNumber : jQuery("#phone").val(),
          contactName : jQuery("#contact").val(), 
          location : jQuery("#location").val(),
          videoURL : jQuery("#video").val(),
          ownershipRights : jQuery("#owner").val(),
          firstTimeProduction : jQuery("#first_time").val(),
          personalRelationships : jQuery("#relationship").val()
      }
        if (terms1.checked==false || terms2.checked==false){
          $('#message').html(`
              <div style ="color:white" class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Attention</strong> Please accept all terms and conditions.
              </div>`);

              window.scrollTo({
              top: 0,
              left: 0,
              behavior: 'smooth'
          });
        }else{
          jQuery.ajax({
          url: '/music_video',
          method: "POST",
          dataType : "json",
          data: JSON.stringify(data),
          "contentType": "application/json",
          success: function(response) { 
              console.log(response);
              if(response.status==200){
                  $('#message').html(`
                  <div style ="color:white" class="alert alert-success alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>Success</strong> ${response.message}
                  </div>`);
                  window.scrollTo({
                  top: 0,
                  left: 0,
                  behavior: 'smooth'
                  });

                  $('#music-video').find('input').val(''); 
                  $(".chk").prop("checked", false);   

              }
          },
          error:function(jqXhr){
              if(jqXhr.status ==400){
                  let responseText = jQuery.parseJSON(jqXhr.responseText);
                   console.log(responseText);
              }
          }
      });
     }
  });


</script>
<%- include('../../end'); -%>