<%- include('../header'); -%>

<div class="content">
    <div class="container">
      <div class="block">
          <div class="contact-page" id="prayerForm">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="block">
                    <div class="live-audience clearfix">
                        <h2 class="block-title"><span>PARTNERSHIP</span> FORM
                        </h2>
                      <p>Thank you for wanting to be a part of the FAITH TO FAITH TV, where viewers experience 
                        the message of faith and inspiring television like never before!</p>
                      <hr />
                      <p>&nbsp;</p>
                          <h4 class = "pb-2">PERSONAL INFORMATION</h4>
                          <div id="message"></div>
                          <form id = "patnership-form"> 
                          <input type="hidden" value="story" id="formStory" name="form">                  
                          <div class="form-group">
                              <label for="title">Title</label>
                              <select  class = "form-control"  id="title">
                                    <option value="">Please Select title</option>
                                    <option value="Mr">Mr.</option>
                                    <option value="Mrs">Mrs.</option>
                                    <option value="Pastor">Pastor</option>
                                    <option value="Engr">Engr.</option>
                                    <option value="Dr.">Dr.</option>
                                    <option value="Prof">Prof</option>
                                    <option value="other">other</option>
                              </select>
                          </div>
                          <div class="form-group" id = "second-title">
                            <label for="title2">*Others</label>
                            <input value="" id="title2" type="text" class="form-control" placeholder="Title">                  
                        </div>

                          <div class="form-group">
                              <label for="surname">*Surname</label>
                              <input value="" id="surname" name="surname" type="text" class="form-control" placeholder="Surname" required>                  
                          </div>
                          <div class="form-group">
                              <label for="firstname">*Firstname</label>
                              <input value="" id="firstname" name="firstname" type="text" class="form-control" placeholder="Firstname" required>                  
                          </div>
                          <div class="form-group">
                              <label for="address">*Contact Address</label>
                              <input value="" id="address" name="address" type="text" class="form-control" placeholder="Address" required>                  
                          </div>
                          <div class="form-group">
                              <label for="phone">*Phone No</label>
                              <input value="" id="phone" name="phone" type="text" class="form-control" placeholder="Phone Number" required>                  
                          </div>
                          <div class="form-group">
                              <label for="email">*Email</label>
                              <input value="" id="email" name="email" type="text" class="form-control" placeholder="Email" required>                  
                          </div> 
                           <div class="form-group">
                              <label for="whatsapp">*Whatsapp Phone No</label>
                              <input value="" id="whatsapp" name="whatsapp" type="text" class="form-control" placeholder="Whatsapp Phone No" required>                  
                          </div>
                          
                          <div class = "form-group">
                              <label for="membership">1. * Are you a member of Renaissance?</label>
                              <select class ="form-control" name="membership" id="membership" required>
                                  <option value="">CHOOSE AN OPTION</option>
                                 <option value="yes">YES</option>
                                 <option value="no">NO</option>
                              </select>
                          </div>
                          <div class="form-group" id = "member">
                            <label for="fellowship">Church Chapter / Fellowship (Members Only)</label>
                            <input value="" id="fellowship" name="fellowship" type="text" class="form-control" placeholder="Church Chapter Fellowship (Members Only)">                  
                        </div>
                          <br>
                          <h4 class = "pb-4">YOU CAN PARTNER IN ONE OR MORE CATEGORIES</h4>
                              <hr>
                              <p>
                              <label class="chkBox">
                                  <input type="checkbox" name="cat" value="Faith to Faith TV" id="faith_tv" name="faith_tv" class="inputCheckbox" /> 
                                  <strong>Faith to Faith TV</strong>
                                </label>
                          </p>
                          <p>
                            <label class="chkBox">
                                <input type="checkbox" name="cat" value="Membership school" id="mem_school" name="mem_school" class="inputCheckbox" /> 
                                <strong>Membership school</strong>
                              </label>
                        </p>
                          <p>
                              <label class="chkBox">
                                  <input type="checkbox" name="cat" value="Teenage ministry" id="teenage_min" name="teenage_min" class="inputCheckbox cat" /> 
                                  <strong>Children & Teenagers' Ministry</strong>
                             </label>
                          </p>
                          <p>
                              <label class="chkBox">
                                  <input type="checkbox" name="cat" value="Radio outreach" id="radio_outreach" name="radio_outreach" class="inputCheckbox cat" /> 
                                  <strong>Faith to Faith Radio Online Outreaches</strong>
                                </label>
                          </p>
                          <p>
                              <label class="chkBox">
                                  <input type="checkbox" name="cat" value="Bible academy" id="bible_acad" name="bible_acad" class="inputCheckbox cat" /> 
                                  <strong>Faith to Faith Bible Academy</strong>
                                </label>
                          </p>
                          <p>
                              <label class="chkBox">
                                  <input type="checkbox" name="cat" value="Church plant" id="church_plant" name="church_plant" class="inputCheckbox cat" /> 
                                  <strong>Faith to Faith Devotionals Church planting</strong>
                                </label>
                          </p>
                          <p>
                              <label class="chkBox">
                                  <input type="checkbox" name="cat" value="Bussiness community" id="bus_com" name="bus_com" class="inputCheckbox cat" /> 
                                  <strong>Renaissance Business Community</strong>
                                </label>
                          </p>
                          <p>
                              <label class="chkBox">
                                  <input type="checkbox" name="cat" value="Rythms" id="rythms" name="rythms" class="inputCheckbox cat" /> 
                                  <strong>Rythms of Renaissance</strong>
                                </label>
                          </p>
                          <p>
                              <label class="chkBox">
                                  <input type="checkbox" name="cat" value = "Publications & Books" id="pub" name="pub" class="inputCheckbox cat" /> 
                                  <strong>Faith to Faith Publications & Books</strong>
                                </label>
                          </p>
                          <hr>
                          <h4 style = "text-align:center" class = "pb-4">PARTNERSHIP LEVELS (PLS TICK INTERESTED LEVELS)<br> (PER ANNUM)</h4>
                          <div class="container">
                              <div class="row">
                                  <div style="margin-left:-5px" class="col-lg-7 col-md-7 col-sm-5">
                                      <div style="overflow-x:auto;">
                                          <table  class="table table-condensed table-striped">
                                              <tbody>
                                                <tr>
                                                  <td>
                                                      <label style ="width:30px"class="chkBox">
                                                          <span>
                                                              <input type="checkbox" name="level" value = "Bronze1" class = "inputCheckbox level">
                                                              <span><strong>
                                                              </span>
                                                          </span>
                                                      </label>
                                                  </td>
                                                  <td>Bronze 1</td>
                                                  <td>N15,000</td>
                                                  <td>$75</td>
                                                  <td>E50</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <label style ="width:30px"class="chkBox">
                                                          <span>
                                                              <input type="checkbox" name="level" value = "Bronze2" class = "inputCheckbox level">
                                                              <span><strong>
                                                              </span>
                                                          </span>
                                                      </label>
                                                  </td>
                                                  <td>Bronze 2</td>
                                                  <td>N30,000</td>
                                                  <td>$150</td>
                                                  <td>E100</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <label style ="width:30px"class="chkBox">
                                                          <span>
                                                              <input type="checkbox" name="level" value = "Bronze3" class = "inputCheckbox level">
                                                              <span><strong>
                                                              </span>
                                                          </span>
                                                      </label>
                                                  </td>
                                                  <td>Bronze 3</td>
                                                  <td>N50,000</td>
                                                  <td>$250</td>
                                                  <td>E160</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <label style ="width:30px"class="chkBox">
                                                          <span>
                                                              <input type="checkbox" name="level" value = "Bronze4" class = "inputCheckbox level">
                                                              <span><strong>
                                                              </span>
                                                          </span>
                                                      </label>
                                                  </td>
                                                  <td>Bronze 4</td>
                                                  <td>N75,000</td>
                                                  <td>$375</td>
                                                  <td>E250</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <label style ="width:30px"class="chkBox">
                                                          <span>
                                                              <input type="checkbox" name="level" value = "Silver1" class = "inputCheckbox level">
                                                              <span><strong>
                                                              </span>
                                                          </span>
                                                      </label>
                                                  </td>
                                                  <td>Silver 1</td>
                                                  <td>N100,000</td>
                                                  <td>$500</td>
                                                  <td>E330</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <label style ="width:30px"class="chkBox">
                                                          <span>
                                                              <input type="checkbox" name="level" value = "Silver2" class = "inputCheckbox level">
                                                              <span><strong>
                                                              </span>
                                                          </span>
                                                      </label>
                                                  </td>
                                                  <td>Silver 2</td>
                                                  <td>N200,000</td>
                                                  <td>$1,000</td>
                                                  <td>E660</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <label style ="width:30px"class="chkBox">
                                                          <span>
                                                              <input type="checkbox"  name="level" value = "silver3" class = "inputCheckbox">
                                                              <span><strong>
                                                              </span>
                                                          </span>
                                                      </label>
                                                  </td>
                                                  <td>Silver 3</td>
                                                  <td>N300,000</td>
                                                  <td>$1,500</td>
                                                  <td>E1,000</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <label style ="width:30px"class="chkBox">
                                                          <span>
                                                              <input type="checkbox" name="level" value = "Gold1" class = "inputCheckbox level">
                                                              <span><strong>
                                                              </span>
                                                          </span>
                                                      </label>
                                                  </td>
                                                  <td>Gold 1</td>
                                                  <td>N500,000</td>
                                                  <td>$2,500</td>
                                                  <td>E1,600</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <label style ="width:30px"class="chkBox">
                                                          <span>
                                                              <input type="checkbox" name="level" value = "Gold2" class = "inputCheckbox level">
                                                              <span><strong>
                                                              </span>
                                                          </span>
                                                      </label>
                                                  </td>
                                                  <td>Gold 2</td>
                                                  <td>N750,000</td>
                                                  <td>$3,750</td>
                                                  <td>E2,250</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <label style ="width:30px"class="chkBox">
                                                          <span>
                                                              <input type="checkbox" name="level" value = "Diamond1" class = "inputCheckbox level">
                                                              <span><strong>
                                                              </span>
                                                          </span>
                                                      </label>
                                                  </td>
                                                  <td>Diamond 1</td>
                                                  <td>N1,000,000</td>
                                                  <td>$5,000</td>
                                                  <td>E3,300</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <label style ="width:30px"class="chkBox">
                                                          <span>
                                                              <input type="checkbox" name="level" value = "Diamond2" class = "inputCheckbox level">
                                                              <span><strong>
                                                              </span>
                                                          </span>
                                                      </label>
                                                  </td>
                                                  <td>Diamond 2</td>
                                                  <td>N1,500,000</td>
                                                  <td>$7,500</td>
                                                  <td>E5,000</td>
                                                </tr>
                                              </tbody>
                                            </table>
                                      </div>
                                     
                                  </div>
                              </div>
                          </div>
                        <div>
                            <hr>
                            <p>PLEASE SUBMIT THIS FORM TO CHURCH OFFICE AFTER FILLING
                              (NOT APPLICABLE TO ONLINE FORMS)
                          </p>
                          <h4>RENAISSANCE ASSEMBLY INC</h4>
                          <p>PER ANNUM 2020 PRAYER POINTS/GOALS</p>

                          <div class="form-group">
                              <label for="prayer1">Prayer point 1</label>
                              <input value="" id="prayer1" name="prayer1" type="text" class="form-control" placeholder="Prayer Point 1">                  
                          </div>
                          <div class="form-group">
                              <label for="prayer2">Prayer point 2</label>
                              <input value="" id="prayer2" name="prayer2" type="text" class="form-control" placeholder="Prayer Point 2">                  
                          </div>

                          <div class = "form-group">
                              <label class="chkBox">
                                  <span>
                                      <input type="checkbox" value = "Y" id= "terms" class = "inputCheckbox">
                                      <span><strong>I consent to the processing of my personal data by FAITH TO FAITH TV with its registered office Port Harcourt,
                                         Rivers State, Nigeria, in order to provide services available on the site faithtofaithtv.org. I am informed about the right
                                          to the contents of my personal data and can make corrections to it when needed.
                                      </span>
                                  </span>
                              </label>
                          </div>
                            <p><small><i>* Required fields</i></small></p>
                        </div>
                    
                        <div style="text-align: right; margin-top: 10px;">
                          <button class="g-recaptcha btn btn-primary"><em class="fa fa-send"></em> Submit</button>
                        </div>
                        
                        <div class="clearfix"></div>
                      </form>
                   </div>
              
                    <style>
                  
                      #prayerForm hr {
                          height: 1px;
                          background: #E1E1E1;
                          margin: 20px 0;
                      }
                      .chkBox {
                          display: block;
                          font-weight: normal;
                          margin-bottom: 0;
                          padding: 5px;
                          background: #F1F1F1;
                          border-radius: 4px;
                          border: 1px solid #E1E1E1;
                          cursor: pointer;
                      }
                      .chkBox.has-error {
                          background: #da4453;
                          border: #da4453;
                          color: #FFF;
                      }
                      .chkBox > input {
                          float: left;
                          margin-right: 10px;
                      }
                      .chkBox > small {
                          display: block;
                          padding: 7px 0 0 23px;
                      }
              
              </style>
                </div> 
              </div>
              <%- include('../faith'); -%>
            </div> <!-- /.row -->
          </div> <!-- /.contact -->
        </div> <!-- /.block -->

      <hr>
      <div class="sharethis-inline-share-buttons"></div>

    </div> <!-- /.block -->
    </div>
<%- include('../footer'); -%>
<%- include('../js'); -%>
<script>
  $(document).ready(function(){
      $('#second-title').hide();
      $('#title2').removeAttr('required');
      $('#title2').removeAttr('data-error');


      $('#member').hide();
      $('#fellowship').removeAttr('required');
      $('#fellowship').removeAttr('data-error');

      $("#title").change(function() {
     const title = $('#title').val();

  if (title == "other") {
     
    $('#second-title').show();
    $('#title2').attr('required', '');
    $('#title2').attr('data-error', 'This field is required.');

    $('#title').removeAttr('required', '');
    $('#title').removeAttr('data-error', 'This field is required.');
    }else{
      $('#second-title').hide();
      $('#title2').removeAttr('required');
      $('#title2').removeAttr('data-error');
    }


  })

  $("#membership").change(function() {
     const membership = $('#membership').val();

  if (membership == "yes") {
     
    $('#member').show();
    $('#fellowship').attr('required', '');
    $('#fellowship').attr('data-error', 'This field is required.');

    }else{
      $('#member').hide();
      $('#fellowship').removeAttr('required');
      $('#fellowship').removeAttr('data-error');
    }

  })
    $(document).on('submit', '#patnership-form', function(event) {
        const level = [];
        const cat = []
        $("input:checkbox[name=level]:checked").each(function(){
        level.push($(this).val());
        });
        $("input:checkbox[name=cat]:checked").each(function(){
        cat.push($(this).val());
        });

        let title = "";
        if(jQuery("#title").val()=="other"){
            title = jQuery("#title2").val()
        }else{
            title = jQuery("#title").val();
        }
        let fellowship = "";
        if(jQuery("#fellowship").val() == ""){
            fellowship+="Nil";
        }else{
            fellowship = jQuery("#fellowship").val();

        }
    
        event.preventDefault();
          let contactForm = $(this);
          const data = {
            title: title,
            firstName: jQuery("#firstname").val(),
            surName: jQuery("#surname").val(),
            email: jQuery("#email").val(),
            phoneNumber: jQuery("#phone").val(),
            whatsAppNo: jQuery("#whatsapp").val(),
            address: jQuery("#address").val(),
            membership: jQuery("#membership").val(),
            fellowship: fellowship,
            categories: cat,
            levels: level,
            prayerPoint1: jQuery("#prayer1").val(),
            prayerPoint2: jQuery("#prayer2").val(),
          }
          if (terms.checked==false){
            var text = "Please accept all terms and conditions"
          }
          if(level.length<1){
            var text = "You have to select atleast one patnership level"
          }
          if(cat.length<1){
            var text = "You have to select atleast one patnership category"
          }
          if (text){
            displaymsg(text)
          }else{
  
        jQuery.ajax({
            url: '/patnership',
            method: "POST",
            dataType : "json",
            data: JSON.stringify(data),
            "contentType": "application/json",
            success: function(response) { 
                console.log(response);
                if(response.status==200){
                    displaymsg(response.message, "alert-success")
                    $('#patnership-form')[0].reset();
                        const url = "https://renaissanceassembly.org/give";    
                        $(location).attr('href',url);
                }
            },
            error:function(jqXhr){
                if(jqXhr.status ==400){
                    let responseText = jQuery.parseJSON(jqXhr.responseText);

                    if(responseText.indexOf('phoneNumber') !== -1){
                    responseText[responseText.indexOf('phoneNumber')] = "Phone no";
                    }
                    if(responseText.indexOf('whatsappNumber') !== -1){
                        responseText[responseText.indexOf('whatsAppNo')] = "whatsapp phone no";
                    }
                    console.log(responseText)
                    let txt = `Invalid inputs : ${responseText.join(', ')}`
                     displaymsg(txt)
                }
            }
        });
       }
    });
})
  
  </script>
<%- include('../../end'); -%>