<%- include('../header'); -%>
<div class="content">
    <div class="container">
      <div class="block">
          <div class="contact-page" id="prayerForm">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="block">
                    <div class="live-audience clearfix">
                        <h2 class="block-title"><span>PRAYER</span> REQUESTS
                        </h2>
                        <p class = "pt-3">
                          Matthew 18:19-20 - (19) Again I say to you, that if two of you agree on earth about anything that they may ask, it shall be done for them by My Father who is in heaven. (20) For where 
                          two or three have gathered together in My name, I am there in their midst.</p>
                          <p>We would love to stand in faith with you and believe with you for what you are trusting God for. So please email or phone us with your prayer request.</p>
                        <hr />
                      <p>&nbsp;</p>
                          <h4 class = "pb-2">PRAYER DETAILS</h4>

                          <div id = "message"></div>
                          <form id="prayer-form">
                          <div class = "form-group">
                              <label for="fullname">*Your Full Name</label>
                              <input placeholder = "Your Name (Required)" type="text" id = "fullname" name = "fullname" class = "form-control" required>
                          </div>
                          <div class = "form-group">
                              <label for="email">* Email Address</label>
                              <input type="text" placeholder ="Email Address (Required)" id = "email" name = "email" class = "form-control" required>
                          </div>
                          <div class = "form-group">
                              <label for="phone">Phone Number</label>
                              <input type="text" placeholder ="Phone Number" id = "phone" name = "phone" class = "form-control" required>
                          </div>
                          <div class="form-group">
                            <label for="prayer_req">* Prayer request</label>
                            <textarea id="prayer_req" name="prayer_req" rows="5" class="form-control" placeholder="Enter Prayer Request  (Required)" required></textarea>                  
                        </div>
                          <br>
                          <hr>
                          <div class = "form-group">
                              <label class="chkBox">
                                  <span>
                                      <input type="checkbox" value = "Y" id ="terms1"  class = "inputCheckbox">
                                      <strong>By using this service i agree to FAITH TO FAITH TV's  <a href = "">Terms of Service</a> and privacy policy</strong>
                                  </span>
                              </label>
                          </div>
                        <hr />
                        <div>
                          <div class = "form-group">
                              <label class="chkBox">
                                  <span>
                                      <input type="checkbox" value = "Y"  id = "terms2"  class = "inputCheckbox">
                                      <span><strong>By using this online service I agree to FAITH TO FAITH TV's Terms of Service and Privacy Policy.
                                          I consent to the processing of my personal data by FAITH TO FAITH TV with its registered office in Port Harcourt, Rivers State, Nigeria, in order to provide services available on the site faithtofaithtv.org. I am informed about the 
                                          right to the contents of my personal data and can make corrections to it when needed. </span>
                                  </span>
                              </label>
                          </div>
                            <p><small><i>* Required fields</i></small></p>
                        </div>
                        <div style="text-align: right; margin-top: 10px;">
                          <button class="g-recaptcha btn btn-primary"><em class="fa fa-send"></em> Submit</button>
                        </div>
                        
                        <div class="clearfix"></div>
                      </form>
                   </div>
                    <style>
                      #prayerForm hr {
                          height: 1px;
                          background: #E1E1E1;
                          margin: 20px 0;
                      }
                      .chkBox {
                          display: block;
                          font-weight: normal;
                          margin-bottom: 0;
                          padding: 5px;
                          background: #F1F1F1;
                          border-radius: 4px;
                          border: 1px solid #E1E1E1;
                          cursor: pointer;
                      }
                      .chkBox.has-error {
                          background: #da4453;
                          border: #da4453;
                          color: #FFF;
                      }
                      .chkBox > input {
                          float: left;
                          margin-right: 10px;
                      }
                      .chkBox > small {
                          display: block;
                          padding: 7px 0 0 23px;
                      }
              
              </style>
                </div> 
              </div>
              <!-- faith statement -->
              <%- include('../faith'); -%>
            </div> <!-- /.row -->
          </div> <!-- /.contact -->
        </div> <!-- /.block -->
      <hr>
      <div class="sharethis-inline-share-buttons"></div>
    </div> <!-- /.block -->
    </div>

<%- include('../footer'); -%>
<%- include('../js'); -%>

<script>
        $(document).on('submit', '#prayer-form', function(event) {
            event.preventDefault();
              const data = {
                    "fullName": $("#fullname").val(),
                    "email":  $("#email").val(),
                    "phone": $("#phone").val(),
                    "prayerRequest": $("#prayer_req").val(),
                }
              if( !$('#terms1').prop('checked') || !$('#terms2').prop('checked') ) {
                    $('#message').html(`
                    <div style ="color:white" class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Attention</strong> Please accept all terms and conditions.
                    </div>`);
                    window.scrollTo({
                        top: 0,
                        left: 0,
                        behavior: 'smooth'
                    });
                }else{
            jQuery.ajax({
                url: '/prayer_request',
                method: "POST",
                dataType : "json",
                data: JSON.stringify(data),
                "contentType": "application/json",
                success: function(response) { 
                    console.log(response);
                    if(response.status==200){
                        $('#message').html(`
                        <div style ="color:white" class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <strong>${response.message}</strong>
                        </div>`);
                        window.scrollTo({
                            top: 0,
                            left: 0,
                            behavior: 'smooth'
                        });
                        $('#prayer-form')[0].reset();
                    }
                },
                error:function(jqXhr){
                    if(jqXhr.status ==400){
                        let responseText = jQuery.parseJSON(jqXhr.responseText);
                         console.log(responseText);
                    }
                }
            });
           }
        });


</script>

<%- include('../../end'); -%>