<%- include('../header'); -%>
<div class="content">
    <div class="container">
      <div class="block">
          <h2 class="block-title"><strong style="text-transform: none; font-weight: 100;">FAITH</strong><span> TV</span></h2>
          <div class="mytbn login register">
              <div class="container">
                  <div class="row">
                      <div class="col-md-8 col-md-offset-2">
                          <div class="item">
                              <h4 style="text-align:center">MEMBERSHIP REGISTRATION</h4>
                              <p>Thank you for wanting to be a part of the FAITH TO FAITH TV, where viewers experience the message of faith and inspiring television like never before!
                                Note: This platform is strictly for members of Renaissance Assembly and/or authorized Friends and Partners of the ministry, please complete all the fields below. 
                                *PLEASE NOTE that we do not commission content.</p>
                                <hr>
                                <h4 style="text-align:center">INFORMATION</h4>
                              <div class="row">
                                  <div class="col-sm-12">
                                      <div class="tbl form">
                                          <div class="tbl-cell" id="rgstrForm">
                                            <div  style = "text-align:center" id="message"></div>
                                              <form id = "register-form">
                                                <div class="form-group">
                                                  <label for="title" class="sr-only">TITLE: </label>
                                                  <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <em class="fas fa-user"></em>
                                                      </span>
                                                      <input value="" id="title" name="title" type="text" class="form-control" placeholder="Enter your title">                                                        
                                                    </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="firstname" class="sr-only">FIRST NAME: </label>
                                                    <div class="input-group">
                                                      <span class="input-group-addon">
                                                          <em class="fas fa-user"></em>
                                                        </span>
                                                        <input value="" id="firstname" name="firstname" type="text" class="form-control" placeholder="First Name">                                                        
                                                      </div>
                                                    </div>
                                                    <div class="form-group">
                                                      <label for="middlename" class="sr-only">MIDDLE NAME: </label>
                                                      <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <em class="fas fa-user"></em>
                                                          </span>
                                                          <input value="" id="middlename" name="middlename" type="text" class="form-control" placeholder="Middle Name">                                                        
                                                        </div>
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="surname" class="sr-only">SURNAME: </label>
                                                        <div class="input-group">
                                                          <span class="input-group-addon">
                                                              <em class="fas fa-user"></em>
                                                            </span>
                                                            <input value="" id="surname" name="surname" type="text" class="form-control" placeholder= "Surname">                                                        
                                                          </div>
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="dob" class="sr-only">DATE OF BIRTH: </label>
                                                          <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <em class="far fa-calendar-alt"></em>
                                                              </span>
                                                              <input value="" id="dob" name="dob" type="text" class="form-control" placeholder= "e.g 1999-01-29">                                                        
                                                            </div>
                                                          </div>
                                                          <div class="form-group">
                                                            <label for="address" class="sr-only">ADDRESS: </label>
                                                            <div class="input-group">
                                                              <span class="input-group-addon">
                                                                  <em class="fas fa-home"></em>
                                                                </span>
                                                                <input value="" id="address" name="address" type="text" class="form-control" placeholder= "Address">                                                        
                                                              </div>
                                                            </div>
                                                            <div class="form-group">
                                                              <label for="location" class="sr-only">LOCATION: </label>
                                                              <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="fas fa-map-marker-alt"></i>
                                                                  </span>
                                                                  <input value="" id="location" name="location" type="text" class="form-control" placeholder= "Location">                                                        
                                                                </div>
                                                              </div>
                                                              <div class="form-group">
                                                                <label for="state" class="sr-only">STATE OF ORIGIN: </label>
                                                                <div class="input-group">
                                                                  <span class="input-group-addon">
                                                                      <em class="fas fa-globe-africa"></em>
                                                                    </span>
                                                                    <input value="" id="state" name="state" type="text" class="form-control" placeholder= "State">                                                        
                                                                  </div>
                                                                </div>
                                                                <div class="form-group">
                                                                  <label for="lga" class="sr-only">LOCAL GOVERNMENT AREA: </label>
                                                                  <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <em class="fas fa-globe-africa"></em>
                                                                      </span>
                                                                      <input value="" id="lga" name="lga" type="text" class="form-control" placeholder= "Local Government of Origin">                                                        
                                                                    </div>
                                                                  </div>
                                                                <div class="form-group">
                                                                    <label for="email" class="sr-only">EMAIL</label>
                                                                    <div class="input-group">
                                                                      <span class="input-group-addon">
                                                                          <em class="fas fa-envelope"></em>
                                                                        </span>
                                                                        <input value="" id="email" name="email" type="email" class="form-control" placeholder="Email address">                                                        
                                                                      </div>
                                                                </div>
                                                                <div class="form-group">
                                                                  <label for="church" class="sr-only">CHURCH CHAPTER: </label>
                                                                  <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <em class="fas fa-church"></em>
                                                                      </span>
                                                                      <input value="" id="church" name="church" type="text" class="form-control" placeholder= "Church Chapter">                                                        
                                                                    </div>
                                                                  </div>
                                                                  <div class="form-group">
                                                                    <label for="resident_pst" class="sr-only">RESIDENT PASTOR: </label>
                                                                    <div class="input-group">
                                                                      <span class="input-group-addon">
                                                                          <em class="fa fa-fw fa-user"></em>
                                                                        </span>
                                                                        <input value="" id="resident_pst" name="resident_pst" type="text" class="form-control" placeholder= "Resident Pastor">                                                        
                                                                      </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                      <label for="chapter_location" class="sr-only">CHAPTER LOCATION: </label>
                                                                      <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            <em class="fa fa-fw fa-user"></em>
                                                                          </span>
                                                                          <input value="" id="chapter_location" name="chapter_location" type="text" class="form-control" placeholder= "Chapter Location">                                                        
                                                                        </div>
                                                                      </div>
                                                                      <div class="form-group">
                                                                        <label for="min_name" class="sr-only">NAME OF MINISTRY/ORGANIZATION: </label>
                                                                        <div class="input-group">
                                                                          <span class="input-group-addon">
                                                                              <em class="fa fa-fw fa-user"></em>
                                                                            </span>
                                                                            <input value="" id="min_name" name="min_name" type="text" class="form-control" placeholder= "Name of ministry / organization">                                                        
                                                                          </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                          <label for="password" class="sr-only">PASSWORD: </label>
                                                                          <div class="input-group">
                                                                            <span class="input-group-addon">
                                                                                <em class="fa fa-fw fa-lock"></em>
                                                                              </span>
                                                                              <input value="" id="password" name="password" type="password" class="form-control" placeholder= "Provide password">                                                        
                                                                            </div>
                                                                          </div>
                                                                          <div class="form-group">
                                                                            <label for="confirm_password" class="sr-only">CONFIRM PASSWORD: </label>
                                                                            <div class="input-group">
                                                                              <span class="input-group-addon">
                                                                                  <em class="fa fa-fw fa-lock"></em>
                                                                                </span>
                                                                                <input value="" id="confirm_password" name="confirm_password" type="password" class="form-control" placeholder= "Confirm Password">                                                        
                                                                              </div>

                                                                            </div>
                                                                          <div class="move-center">
                                                                          <h3 style = "text-align:center">DECLARATIONS</h3>
                                                                       </div>
                                                                       <hr>
                                                                       <div class = "move-center">
                                                                        <p>
                                                                          <label class="chkBox">
                                                                              <input type="checkbox" value="Y" id ="terms1" class="inputCheckbox" /> 
                                                                              <strong>
                                                                                I affirm that the details provided above are accurate and I consent to the processing of my personal 
                                                                                data by FAITH TO FAITH TV with its registered office in Port Harcourt, Rivers State, Nigeria, in order 
                                                                                to provide services available on the site faithtofaithtv.org. I am informed about the right to the contents
                                                                                 of my personal data and can make corrections to it when needed. By filling this form, you are granting 
                                                                                 FAITH TO FAITH TV the rights to use your details royalty
                                                                                 free for promotional purposes and other uses where necessary.
                                                                              </strong>
                                                                            </label>
                                                                      </p>
                                                                     </div>
               
                                                                  <p>
                                                                    <label class = "chkBox">
                                                                      <input type="checkbox" value="Y" id = "terms2" class="inputCheckbox" /> 
                                                                      <strong>By submitting this form you agree to Faith TV <a href="" class="ukced-terms">terms</a></strong>
                                                                    </label>
                                                                    
                                                                  </p>
                                                  <div class="form-group">
                                                  <button style = "width:190px" class="btn btn-primary">Register</button>
                                                </div> 
                                        </form>
                                               </div> <!-- /.tbl-cell -->
                                      </div> <!-- /.tbl -->
                                  </div> <!-- /.col -->
                                </div>
                                    <hr class= "item-footer">
                                    <div class="row">
                                      <div style = "text-align:center">
                                        <p>OR</p>
                                        <p>SIGN UP WITH</p>
                                      </div>
                                  <div style = "text-align:center;" class = "col-lg-12">
                                    <button class="loginBtn loginBtn--facebook">
                                      <a style = "color:white" href ="/register/auth/facebook" >Signup with Facebook</a> 
                                  </button>
                                  <!-- <button class="loginBtn loginBtn--google">
                                      Login with Google
                                  </button> -->
                                </div>
                              </div> <!-- /.row -->
                              <p class="item-footer">Already registered? <a href="/login">Sign in</a></p>
                          </div> <!-- /.item -->
                      </div> <!-- /.col -->
                  </div> <!-- /.row -->
              </div> <!-- /.container -->
          </div> <!-- /.mytbn -->
      </div> <!-- /.block -->
      <div class="modal video-modal fade" id="TermsModal" tabindex="-1" role="dialog" aria-labelledby="TermsModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="TermsModalLabel">Terms of Service</h4>
              </div>
              <div class="modal-body">
                  <article class="static">
              
                    <%- settings.termsAndCondition %>
              
                  </article>
              </div> <!-- /.modal-body -->
              <div class="modal-footer">
                  <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div> <!-- /.modal -->
        
            <script>
                $(function(){
                    $('.ukced-terms').click(function(){
                        $('#TermsModal').modal();
                        return false;
                    });
                });
            </script>

  
  </div> <!-- /.container -->
</div> <!-- /.content -->
<%- include('../footer'); -%>
<%- include('../js'); -%>
<script>
  $('#register-form').validate({
  rules: {
      title: 'required',
      firstname: 'required',
      middlename: 'required',
      surname: 'required',
      address: 'required',
      state: 'required',
      lga: 'required',
      church: 'required',
      location:'required',
      resident_pst: 'required',
      min_name: 'required',
      chapter_location: 'required',
      password : {
          required: true,
      },
      confirm_password : {
          required: true,
          equalTo : "#password"
      },
      'terms1': {
          required: true,
                
       },
     'terms2': {
        required: true,
                
       },
      email: {
      required: true,
      email: true,
      },
      dob: {
        required: true,
        date: true
     },
  },
  messages: {
      title: 'Please Enter title',
      firstname: 'Please provide your First name',
      email: 'Please provide a valid email',
      middlename: 'Please provide your Middle name',
      surname: 'Please provide your Surname name',
      address: 'Please provide your Address',
      state: 'Please provide your state',
      lga: 'Provide your Local Government',
      church: 'Church chapter is required',
      resident_pst: 'Please provide your resident pastor',
      chapter_location: 'Please provide chapter location',
      min_name: 'Provide Ministry Name',
      contact_no: 'This field is required',
      location: 'Please provide your location',
      password: 'Password is required',
      confirm_password: 'Both password MUST match',
      'terms1': {
                required: "Please accept this condition",
            },
      'terms2':{
           required: "Please accept this condition",
        },
      dob:{
         required: "Date of Birth is required",
         date:"enter date only"
       },
  },
  errorPlacement: function(error, element) {
      error.appendTo(element.parent("div").parent("div") );
  },
  submitHandler: () => {
      const data = {
      "firstname": $("#firstname").val(),
      "lastname":  $("#email").val(),
      "title": $("#title").val(),
      "dateOfBirth": $("#dob").val(),
      "middlename": $("#middlename").val(),
      "location": $("#location").val(),
      "email": $("#email").val(),
      "address": $("#address").val(),
      "stateOfOrigin": $("#state").val(),
      "LGA": $("#lga").val(),
      "residentPastor": $("#resident_pst").val(),
      "chapterLocation": $("#chapter_location").val(),
      "organisationName": $("#min_name").val(),
      "password": $("#password").val()
   }
   if (terms1.checked==false || terms2.checked==false){
            displaymsg(text = "Please accept all terms and conditions")
      }else{
     jQuery.ajax({
            url: '/register',
            method: "POST",
            dataType : "json",
            data: JSON.stringify(data),
            "contentType": "application/json",
            success: function(response) { 
                console.log(response);
                if(response.status==200){
                    displaymsg(response.message, "alert-success")
                    $('#register-form')[0].reset();
                    window.location.href="/edit-profile";
                }
            },
            error:function(jqXhr){
                if(jqXhr.status ==400){
                    let responseText = jQuery.parseJSON(jqXhr.responseText);

                    if(responseText.indexOf('email') !== -1){
                    responseText[responseText.indexOf('email')] = "Email";
                    }
                    console.log(responseText)
                    let txt = `Already taken : ${responseText.join(', ')}`
                     displaymsg(txt)
                }
            }
        });
      }
     }
  });

  $(document).on('submit', '#register-form', (event) => {
  $(document).ready(function (){
  event.preventDefault();

  
});
});

</script>
<%- include('../../end'); -%>