<%- include('../header'); -%>

<div class="content">
    <div class="container">
  <div class="text-block">
      <div>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
          <div class="image-wrapper">
            <span>
                <img src="/large_images/<%= settings.salvationPrayerImage %>" class="img-responsive" alt="">
              <span>Salvation Prayer</span>
            </span>
          </div> <!-- /.image-wrapper -->
        </div> <!-- /.col -->
          <div class="col-xs-12 col-sm-8">
            <div class="clearfix static html">
              <%- settings.salvationPrayer  %> 
            </div> <!-- /.static -->
                </div> <!-- /.col -->
            </div> <!-- /.row -->
            </div>
        </div> <!-- /.text-block -->
  
        <hr>


      <div class="sharethis-inline-share-buttons"></div>
  
  </div> <!-- /.container -->
</div> <!-- /.content -->
<%- include('../footer'); -%>
<%- include('../js'); -%>
<%- include('../../end'); -%>