<%- include('../header'); -%>
  <div class="content">
    <div class="container">
    
      <div class="block">
          <div class="contact-page" id="prayerForm">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="block">
                    <div class="live-audience clearfix">
                        <h2 class="block-title"><span>UNSOLICITED SHOW</span> PROPOSALS
                        </h2>
                        <p class = "pt-3">Thank you for wanting to be a part of the FAITH TO FAITH TV, 
                          where viewers experience the message of faith and inspiring television like never before!
                        <hr />
                        <p>To submit your idea, please complete all the fields below. 
                          *PLEASE NOTE that we do not commission content.</p>
                      <p>&nbsp;</p>

                          <h4 class = "pb-2">INFORMATION</h4>
                          <div id = "message"></div>
                          <form id = "show-proposal">
                          <input type="hidden" value="story" id="formStory" name="form">                  
                          <div class = "form-group">
                              <label for="prop_title">* Proposal Title</label>
                              <input placeholder = "proposal title (Required)" type="text" name = "prop_title" class = "form-control" id = "prop_title" required>
                          </div>
                          <div class = "form-group">
                              <label for="genre">* Genre</label>
                              <select class ="form-control" name="genre" id="genre" required>
                                <option value="">Choose an option</option>
                               <option value="documentary">Documentary</option>
                               <option value="comedy">Comedy</option>
                            </select>
                          </div>
                          <div class = "form-group">
                              <label for="supplier">* Supplier / Individual Name</label>
                              <input type="text" placeholder = "Supplier / Individual name" name = "supplier" class = "form-control" id = "supplier" required>
                          </div>
                          <div class = "form-group">
                              <label for="contact">* Contact Person</label>
                              <input type="text" placeholder ="Contact person" name = "contact" class = "form-control" id = "contact" required>
                          </div>
                          <div class = "form-group">
                              <label for="email">* Email Address</label>
                              <input type="text" placeholder ="Email Address (Required)" name = "email" class = "form-control" id = "email" required>
                          </div>
                          <div class = "form-group">
                              <label for="phone">Phone Number</label>
                              <input type="text" placeholder ="Phone Number" name = "phone" class = "form-control" id ="phone" required>
                          </div>
                          <div class = "form-group">
                            <label for="location">Location</label>
                            <input type="text" placeholder ="Location" name = "location" class = "form-control" id = "location">
                        </div>
                          <br>
                          <h4 style = "font-weight: bold;" class = "pb-2 pt-5">ASSETS</h4>
                          <div class = "form-group">
                              <label for="present_url">* Presentation URL</label>
                              <input placeholder = "Presentation url(Required)" type="text" name = "present_url" class = "form-control" id = "present_url" required>
                              <span class = "video-text">Importantly: Please enter a SlideShare or Google Slides presentation
                                 link of your proposed show
                                 .</span>

                              </div>
                           <div class = "form-group">
                              <label for="pilot">Show Reel / Pilot</label>
                              <input placeholder = "e.g https://youtube.com/watch?v=we3455" type="text" name = "pilot" class = "form-control" id ="pilot" required> 
                              <span class = "video-text">Please provide a YouTube or Vimeo video link to your showreel or proposed show, if you have.</span>
                           </div>
                           <br>
                           <h4 style = "font-weight: bold;" class = "pb-2 pt-4">DECLARATIONS</h4>
                           <div class = "form-group">
                               <label for="first_time">1. * Have you produced for this channel before?</label>
                               <select class ="form-control" name="first_time" id="first_time" required>
                                   <option value="">CHOOSE AN OPTION</option>
                                  <option value="yes">YES</option>
                                  <option value="no">NO</option>
                               </select>
                           </div>
                           <div class = "form-group">
                              <label for="relationship">2. * Do you have an existing personal relationship 
                                  with anyone at this channel that needs to be declared?</label>
                              <select class ="form-control" name="relationship" id="relationship" required>
                                  <option value="">CHOOSE AN OPTION</option>
                                 <option value="yes">YES</option>
                                 <option value="no">NO</option>
                              </select>
                          </div>
                          <hr class = "my-4">
                          <div class = "form-group">
                              <label class="chkBox">
                                  <span>
                                      <input type="checkbox" value = "Y" id = "terms1" class = "inputCheckbox chk">
                                      <strong>By using this service i agree to FAITH TO FAITH TV's  <a href = "">Terms of Service</a> and privacy policy</strong>
                                  </span>
                              </label>
                          </div>
                        <hr />
                        <div>
                          <div class = "form-group">
                              <label class="chkBox">
                                  <span>
                                      <input type="checkbox" value = "Y" id = "terms2" class = "inputCheckbox chk ">
                                      <span><strong>I consent to the processing of my personal data by FAITH TO FAITH TV with its registered 
                                        office in Port Harcourt, Rivers State, Nigeria, in order to provide services available on the site faithtofaithtv.org. I am informed about 
                                        the right to the contents of my personal data and can make corrections to it when needed.
                                      </span>
                                  </span>
                              </label>
                          </div>
                            <p><small><i>* Required fields</i></small></p>
                        </div>
                        <div style="text-align: right; margin-top: 10px;">
                          <button class="g-recaptcha btn btn-primary"><em class="fa fa-send"></em> Submit</button>
                        </div>
                        
                        <div class="clearfix"></div>
                      </form>
                   </div>
                    <style>
                      #prayerForm hr {
                          height: 1px;
                          background: #E1E1E1;
                          margin: 20px 0;
                      }
                      .chkBox {
                          display: block;
                          font-weight: normal;
                          margin-bottom: 0;
                          padding: 5px;
                          background: #F1F1F1;
                          border-radius: 4px;
                          border: 1px solid #E1E1E1;
                          cursor: pointer;
                      }
                      .chkBox.has-error {
                          background: #da4453;
                          border: #da4453;
                          color: #FFF;
                      }
                      .chkBox > input {
                          float: left;
                          margin-right: 10px;
                      }
                      .chkBox > small {
                          display: block;
                          padding: 7px 0 0 23px;
                      }
              
              </style>
                </div> 
              </div>
              <%- include('../faith'); -%>  
            </div> <!-- /.row -->
          </div> <!-- /.contact -->
        </div> <!-- /.block -->
      <hr>
      <div class="sharethis-inline-share-buttons"></div>
    </div> <!-- /.block -->
    </div>
<%- include('../footer'); -%>
<%- include('../js'); -%>
<script>
    $(document).on('submit', '#show-proposal', function(event) {
        event.preventDefault();
          let contactForm = $(this);
          const data = {
            "title" : jQuery("#prop_title").val(),
            "genre" : jQuery("#genre").val(),
            "supplierName" : jQuery("#supplier").val(),
            "email" : jQuery("#email").val(),
            "phoneNumber" : jQuery("#phone").val(),
            "contactName" : jQuery("#contact").val(),
            "location" : jQuery("#location").val(),
            "presentationURL" : jQuery("#present_url").val(),
            "showReel" : jQuery("#pilot").val(),
            "firstTimeProduction" : jQuery("#first_time").val(),
            "personalRelationships" : jQuery("#relationship").val()
          }
          
          if (terms1.checked==false || terms2.checked==false){
            displaymsg(text = "Please accept all terms and conditions")
      }else{

      jQuery.ajax({
          url: '/show_proposal',
          method: "POST",
          dataType : "json",
          data: JSON.stringify(data),
          "contentType": "application/json",
          success: function(response) { 
              console.log(response);
              if(response.status==200){
                displaymsg(response.message, "alert-success")
                $('#show-proposal')[0].reset();
              }
          },
          error:function(jqXhr){
              if(jqXhr.status ==400){
                let responseText = jQuery.parseJSON(jqXhr.responseText);
                if(responseText.indexOf('phoneNumber') !== -1){
                    responseText[responseText.indexOf('phoneNumber')] = "Phone no";
                }
                if(responseText.indexOf('presentationURL') !== -1){
                    responseText[responseText.indexOf('presentationURL')] = "Presentation url";
                }
                if(responseText.indexOf('showReel') !== -1){
                    responseText[responseText.indexOf('showReel')] = "Pilot url";
                }
                console.log(responseText)
                let txt = `Invalid inputs : ${responseText.join(', ')}`
                  displaymsg(txt)
              }
          }
      });
     }
  });
  </script>
<%- include('../../end'); -%>