<%- include('../header'); -%>
<div class="content">
    <div class="container">
      <div class="block">
          <div class="contact-page" id="prayerForm">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="block">
                    <div class="live-audience clearfix">
                        <h2 class="block-title"><span>TEST</span>IMONIES
                        </h2>
                      <p> <strong>
                          Testimonies are a proof that the word of God works!
                          We trust that amazing testimonies have occurred in your life as a result of or in the
                           course of viewing the Faith to Faith TV. Share your testimonies with us today!
                         </strong> 
                      </p>
                      <p>We would love to receive your testimonies and inspire others with them. 
                          So please email or phone us with your testimonies.</p>
                      <hr />
                      <p>&nbsp;</p>
                          <div id = "message"></div>
                          <form id = "testimony-form">
                          <div class="form-group">
                          <label for="fullname">*Your full name</label>
                          <input value="" id="fullname" name="fullname" type="text" class="form-control" placeholder="Your Name (Required)">                  
                        </div>
                        <div class="form-group">
                          <label for="email">*Email Address</label>
                          <input value="" id="email" name="email" type="text" class="form-control" placeholder="Email Address (Required)">                  
                        </div>
                        <div class="form-group">
                          <label for="phone">Phone number</label>
                          <input value="" id="phone" name="phone" type="text" class="form-control" placeholder="Phone Number">                  
                        </div>
                        <div class="form-group">
                          <label for="location">Location</label>
                          <input value="" id="location" name="location" type="text" class="form-control" placeholder="Location">                  
                        </div>
                        <div class="form-group">
                          <label for="testimony">* Testimonies</label>
                          <textarea id="testimony" name="testimony" rows="5" class="form-control" placeholder="Enter Prayer Request  (Required)"></textarea>                  
                      </div>
                        <hr />
                        <p>
                            <label class="chkBox">
                                <input type="checkbox" value="Y" id="terms1" name="agree_phone" class="inputCheckbox chk" /> 
                                <strong>By using this service i agree to  FAITH TO FAITH TV's  <a href = "">Terms of Service</a> and privacy policy</strong>
                              </label>
                        </p>
                        <hr />
                          <div class = "form-group">
                              <label class="chkBox">
                                  <span>
                                      <input type="checkbox" value = "Y" class = "inputCheckbox chk" id="terms2">
                                      <span><strong>I consent to the processing of my personal data by Faith to Faith TV with its registered office in 
                                          Port Harcourt, Rivers State, Nigeria, in order to provide services available on the site faithtofaithtv.org.
                                           I am informed about the right to the contents of my personal data and can make corrections to it when needed.
                                           </strong>
                                      </span><hr>
                                      <p>I also affirm that the testimonies written above or sent have been verified, are verifiable and I am open to 
                                          further verification.</p>
                                  </span>
                              </label>
                          </div>
                            <p><small><i>* Required fields</i></small></p>
                        
                        <div style="text-align: right; margin-top: 10px;">
                          <button class="g-recaptcha btn btn-primary"><em class="fa fa-send"></em> Submit</button>
                        </div>
                        
                        <div class="clearfix"></div>
                      </form>
                   </div>
              
                    <style>
                  
                      #prayerForm hr {
                          height: 1px;
                          background: #E1E1E1;
                          margin: 20px 0;
                      }
                      .chkBox {
                          display: block;
                          font-weight: normal;
                          margin-bottom: 0;
                          padding: 5px;
                          background: #F1F1F1;
                          border-radius: 4px;
                          border: 1px solid #E1E1E1;
                          cursor: pointer;
                      }
                      .chkBox.has-error {
                          background: #da4453;
                          border: #da4453;
                          color: #FFF;
                      }
                      .chkBox > input {
                          float: left;
                          margin-right: 10px;
                      }
                      .chkBox > small {
                          display: block;
                          padding: 7px 0 0 23px;
                      }
              
              </style>
                </div> 
              </div>
              <%- include('../faith'); -%>  
            </div> <!-- /.row -->
          </div> <!-- /.contact -->
        </div> <!-- /.block -->

      <hr>
      <div class="sharethis-inline-share-buttons"></div>

    </div> <!-- /.block -->
    </div>

<%- include('../footer'); -%>
<%- include('../js'); -%>
<script>
  $(document).on('submit', '#testimony-form', function(event) {
      event.preventDefault();
        let contactForm = $(this);
        const data = {
          "fullName": jQuery("#fullname").val(),
          "email": jQuery("#email").val(),
          "phoneNumber": jQuery("#phone").val(),
          "location": jQuery("#location").val(),
          "testimony": jQuery("#testimony").val()
        }

        if (terms1.checked==false || terms2.checked==false){
          $('#message').html(`
              <div style ="color:white" class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Attention</strong> Please accept all terms and conditions.
              </div>`);

              window.scrollTo({
              top: 0,
              left: 0,
              behavior: 'smooth'
          });
        }else{

      jQuery.ajax({
          url: '/testimony',
          method: "POST",
          dataType : "json",
          data: JSON.stringify(data),
          "contentType": "application/json",
          success: function(response) { 
              console.log(response);
              if(response.status==200){
                  $('#message').html(`
                  <div style ="color:white" class="alert alert-success alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>Success</strong> ${response.message}.
                  </div>`);
                
                  window.scrollTo({
                    top: 0,
                    left: 0,
                    behavior: 'smooth'
                  });
                  $('#show-proposal').find('input').val(''); 
                  $(".chk").prop("checked", false)
              }
          },
          error:function(jqXhr){
              if(jqXhr.status ==400){
                  let responseText = jQuery.parseJSON(jqXhr.responseText);
                   console.log(responseText);
              }
          }
      });
     }
  });


</script>
<%- include('../../end'); -%>