<%- include('../header'); -%>
 <!-- Banner Start -->
 <div class="video-container iq-main-slider">
   <video id="my_video_1" class="video d-block" controls autoplay data-setup='{}'>
     <source src="http://159.65.236.148/hls/<%= video.streamKey %>.m3u8" type="application/x-mpegURL">
   </video>
   
 </div>
 <!-- Banner End -->
  <!-- MainContent -->
  <div class="main-content movi mt-0">
    <section class="movie-detail container-fluid">
       <div class="row">
          <div class="col-lg-12">
             <div class="trending-info g-border">
                <div class="d-flex align-items-center text-white text-detail">
                    <span class="badge badge-secondary p-3">13+</span>
                    <span class="ml-3">3h 15m</span>
                    <span class="trending-year">2020</span>
                 </div>
                <p class="trending-dec w-100 mb-0">
                  <%= video.description %>.</p>
                <ul class="list-inline p-0 mt-4 share-icons music-play-lists">
                   <li class="share">
                      <span><i class="ri-share-fill"></i></span>
                      <div class="share-box">
                         <div class="d-flex align-items-center">
                            <a href="#" class="share-ico"><i class="ri-facebook-fill"></i></a>
                            <a href="#" class="share-ico"><i class="ri-twitter-fill"></i></a>
                            <a href="#" class="share-ico"><i class="ri-links-fill"></i></a>
                         </div>
                      </div>
                   </li>
                </ul>
             </div>
          </div>
       </div>
    </section>

  
 </div>
 <!-- MainContent End-->
<%- include('../footer'); -%>
<%- include('../js'); -%>
<script src="https://unpkg.com/video.js/dist/video.js"></script>
<script src="https://unpkg.com/videojs-contrib-hls/dist/videojs-contrib-hls.js"></script>
<%- include('../../end'); -%>