<%- include('../header'); -%>
<%- include('../sidebar'); -%>
<!-- Page Content  -->
<div class="app-main__inner">
    <!-- title  -->
   <div class="app-page-title">
       <div class="page-title-wrapper">
           <div class="page-title-heading">
               <div class="page-title-icon">
                   <i class="pe-7s-car icon-gradient bg-mean-fruit"></i>
               </div>
               <div>
                    Schedule Video
                    <p class=" lnr-text-size"><%= video.title %> </p>
               </div>
           </div>
         </div>
   </div>       
   <!-- title -->
    <!--body  -->
   <div class="tabs-animation">
       <!-- form -->
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div id = "message"></div>
                        <form id="add_schedule">
                            <div class = "form-group">
                                <label for="show">Show</label>
                                  <select  class ="form-control" name="show" id="show" required >
                                    <option value="" disabled selected>select show</option>
                                    <%shows.forEach((item,index) =>{ %>
                                        <option value="<%= item._id %>"><%= item.title %></option>
                                    <% }) %> 
                                  </select>
                              </div> 
                            
                              <div class="form-group">
                                <label for="type">Time (Start - End)</label>
                                <input type="text" id="range" class="form-control" name="datetimes"  required>
                              </div>
                            
                              
                            <button class="mt-1 btn btn-primary" id = "btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
         <!-- form ends -->
  </div>
  <!-- body ends -->
</div>
<!-- Page Content END -->


<%- include('../footer'); -%>
<%- include('../js'); -%>
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

<script>


    $(document).on('submit', '#add_schedule', event => {
        event.preventDefault();
        var range = $("#range").val()
        var arr = range.split('-')
        var data = {
            show: $("#show").val(),
            video: '<%= video._id %>',
            startTime: moment(arr[0]).format(),
            endTime: moment(arr[1]).format()
        }
        axios.post('/admin/api/add_schedule',data)
        .then(function (response) {
            // handle success
            console.log(response)
            const url = "/admin/api/schedules";    
            $(location).attr('href',url);
            displaymsg(response.data.message);
        })
        .catch(function (error) {
            // handle error
            console.log(error);
            displayerr(error.message)
        })

     })

</script>
<%- include('../../end'); -%>