<%- include('../header'); -%>
<%- include('../sidebar'); -%>

<!-- Page Content  -->
<div class="app-main__inner">
    <!-- title  -->
   <div class="app-page-title">
       <div class="page-title-wrapper">
           <div class="page-title-heading">
               <div class="page-title-icon">
                   <i class="pe-7s-car icon-gradient bg-mean-fruit"></i>
               </div>
               <div>
                    Add about
               </div>
           </div>
         </div>
   </div>       
   <!-- title -->
    <!--body  -->
   <div class="tabs-animation">
       <!-- form -->
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div id = "message"></div>
                        <form id="add_about">
                            <div class="form_gallery form-group">
                                <label id="gallery2" for="image">About Image</label><br>
                                <input rows="5" data-name="#gallery2" id="image" class="form_gallery-upload "
                                   type="file" accept=".png, .jpg, .jpeg">
                             </div>
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type = "text" id="title" name="title" rows="5" class="form-control" placeholder="About title" required>                 
                            </div>
                            <div class="form-group">
                                <label for="desc">Description</label>
                                <textarea id="desc" name="desc" rows="5" class="form-control" placeholder="About description" required></textarea>                 
                            </div>
                            <button class="mt-1 btn btn-primary" id = "btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
         <!-- form ends -->
  </div>
  <!-- body ends -->
</div>
<!-- Page Content END -->


<%- include('../footer'); -%>
<%- include('../js'); -%>
<script src="//cdn.ckeditor.com/4.5.9/standard/ckeditor.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.5.9/adapters/jquery.js"></script>
<script>
    $(function () {
        $("#desc").ckeditor();
    });
</script>
<script>
    $(document).on('submit', '#add_about', event => {
        event.preventDefault();
        const file = document.querySelector('#image')
        const data = new FormData()
        data.append("description", $("#desc").val());
        data.append("title", $("#title").val());
        data.append("file", file.files[0]);
        if(file.files.length < 1 ){
            displayerr("Please add an image");
        }else{
            const config = {
                onUploadProgress: function(progressEvent) {
                const percentCompleted = Math.round((progressEvent.loaded * 100) / progressEvent.total)
                $('#btn').html(percentCompleted + "% of 100%");
                }
            }

            axios.post('/admin/about',data, config)
            .then(function (response) {
                // handle success
                console.log(response)
                const url = "/admin/about";    
                $(location).attr('href',url);
                displaymsg(response.data.message);
            })
            .catch(function (error) {
                // handle error
                console.log(error);
                displayerr(error.message)
            })
        }
     })
</script>
<%- include('../../end'); -%>