<%- include('../header'); -%>
<%- include('../sidebar'); -%>
<%- include('../navbar'); -%>

  <!-- Page Content  -->
  <div id="content-page" class="content-page">
    <div class="container-fluid">
       <div class="row">
          <div class="col-sm-12">
             <div class="iq-card">
                <div class="iq-card-header d-flex justify-content-between">
                   <div class="iq-header-title">
                      <h4 class="card-title">Add Category</h4>
                   </div>
                </div>
                <div class="iq-card-body">
                    <form id="loginForm" class="mt-4">
                      <div class="row">
                         <div class="col-lg-7">
                            <div class="row">
                               <div class="col-12 form-group">
                                  <input type="text" id="title" class="form-control" placeholder="Title">
                               </div>
                               <div class="col-12 form_gallery form-group">
                                  <label id="gallery2" for="form_gallery-upload">Upload Image</label>
                                  <input data-name="#gallery2" id="form_gallery-upload" class="form_gallery-upload"
                                     type="file" accept=".png, .jpg, .jpeg">
                               </div>
                          
                               <div class="col-12 form-group">
                                  <textarea id="description" name="text" rows="5" class="form-control"
                                     placeholder="Description"></textarea>
                               </div>
                            </div>
                         </div>
                        
                      </div>
                   </form>
                   <div class="row">
                        <div class="col-12 form-group ">
                            <button id="submitButton" class="btn btn-primary">Submit</button>
                            <a  href="/admin/dashboard" class="btn btn-danger">cancel</a>
                        </div>
                    </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- Page Content END -->


<%- include('../footer'); -%>
<%- include('../js'); -%>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
   
    $('#submitButton').click( function() {
        const file = document.querySelector('#form_gallery-upload');
        const data = new FormData();
        data.append("title", $("#title").val());
        data.append("description", $("#description").val());
        data.append("file", file.files[0]);

        axios({
            method: 'post',
            url: '/admin/add_category',
            data: data,
        }) .then(function (response) {
            // handle success
            const url = "/admin/dashboard";    
            $(location).attr('href',url);
        })
        .catch(function (error) {
            // handle error
            console.log(error);
        })
    })

  

</script>
<%- include('../../end'); -%></div>