<%- include('../header'); -%>
<%- include('../sidebar'); -%>
<style>

    #message{
        color:red;
    }
</style>
<!-- Page Content  -->
<div class="app-main__inner">
    <!-- title  -->
   <div class="app-page-title">
       <div class="page-title-wrapper">
           <div class="page-title-heading">
               <div class="page-title-icon">
                   <i class="pe-7s-car icon-gradient bg-mean-fruit"></i>
               </div>
               <div>
                  Edit single Music Video
               </div>
           </div>
           <div class="page-title-actions">
             <div class="d-inline-block dropdown">
                <a type="button" href="/admin/api/music_videos" class="btn-shadow 
                 btn btn-primary">
                    <span class="btn-icon-wrapper pr-2 opacity-7">
                    </span>
                    Back to videos
                </a>
            </div>
         </div> 
         </div>
         
   </div>       
   <!-- title -->
    <!--body  -->
   <div class="tabs-animation">
       <!-- form -->
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div id = "message"></div>
                        <form id="edit-music-video">
                            <div class = "form-group">
                                <label for="title">Title:</label>
                                <input value = "<%= musicVideo._id %>" id = "mvId" type="hidden">
                                <input value = "<%= musicVideo.title %>" type="text" id = "title" class = "form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="genre">Genre:</label>
                                <input value = "<%= musicVideo.genre %>" type="text" id = "genre" class = "form-control" required>
                            </div>
                            <div class = "form-group">
                                <label for="supplierName">Supplier Name:</label>
                                <input value = "<%= musicVideo.supplierName %>" type="text" id = "supplierName" class = "form-control" required>
                            </div>
                           
                            <div class = "form-group">
                                <label for="contactName">Contact Name:</label>
                                <input value = "<%= musicVideo.contactName %>" type="text" id = "contactName" class = "form-control" required>
                            </div>
                            <div class = "form-group">
                                <label for="email">Email:</label>
                                <input value = "<%= musicVideo.email %>"  type="text" id = "email" class = "form-control" required>
                            </div>
                            <div class = "form-group">
                                <label for="phoneNumber">Phone Number:</label>
                                <input value = "<%= musicVideo.phoneNumber %>" type="text" id = "phoneNumber" class = "form-control" required>
                            </div>
                           
                            <div class="form-group">
                                <label for="ownershipRights">Ownership Rights:</label>
                                <input value = "<%= musicVideo.ownershipRights %>" type="text" id = "ownershipRights" class = "form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="location">Location:</label>
                                <input value = "<%= musicVideo.location %>" type="text" id = "location" class = "form-control" required>
                            </div>
                            <div class="form-group">
                                <label for ="videoURL">Video URL:</label>
                                <input value = "<%= musicVideo.videoURL %>" type="text" id ="videoURL" class = "form-control" required>
                            </div>
                            <div class="form-group">
                                <label for ="firstTimeProduction">First Time Production:</label>
                                <input value = "<%= musicVideo.firstTimeProduction %>" type="text" id ="firstTimeProduction" class = "form-control" required>
                            </div>
                            <div class="form-group">
                                <label for ="personalRelationships">Personal Relationships:</label>
                                <input value = "<%= musicVideo.personalRelationships %>" type="text" id ="personalRelationships" class = "form-control" required>
                            </div>
                            <div class="form-group">
                                <label for ="contentVideo">Video Content:</label>
                                <input value = "<%= musicVideo.contentVideo %>" type="text" id ="contentVideo" class = "form-control" required>
                            </div>
                            <div class="form-group">
                                <label for ="dateSubmitted">Date Submitted:</label>
                                <input value = "<%= musicVideo.dateSubmitted %>" type="text" id ="dateSubmitted" class = "form-control" required>
                            </div>
                            <button class="mt-1 btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
         <!-- form ends -->
  </div>
  <!-- body ends -->
</div>
<!-- Page Content END -->
<%- include('../footer'); -%>
<%- include('../js'); -%>
<script>
    $(document).on('submit', '#edit-music-video', event => {
        event.preventDefault();
        const mvId = $("#mvId").val();
        const data = {
            title: $("#title").val(),
            genre: $("#genre").val(),
            supplierName:  $("#supplierName").val(),
            contactName: $("#contactName").val(),
            email: $("#email").val(),
            phoneNumber: $("#phoneNumber").val(),
            location: $("#location").val(),
            ownershipRights: $("#ownershipRights").val(),
            videoURL: $("#videoURL").val(),
            firstTimeProduction: $("#firstTimeProduction").val(),
            personalRelationships: $("#personalRelationships").val(),
            contentVideo: $("#contentVideo").val(),
            dateSubmitted: $("#dateSubmitted").val(),
         }
         
        jQuery.ajax({
        url: '/admin/update_music_video/'+mvId,
        method: "PUT",
        dataType : "json",
        data: JSON.stringify(data),
        "contentType": "application/json",
        success: function(response) { 
            console.log(response);
            if(response.status==200){
            displaymsg(response.message, "alert-secondary")
            }
          },
          error:function(jqXhr){
              if(jqXhr.status ==400){
                let responseText = jQuery.parseJSON(jqXhr.responseText);
                $('#message').html(responseText.error)
                console.log(responseText)
              }
          }
      });
     })
</script>
<%- include('../../end'); -%>