<%- include('../header'); -%>
<%- include('../sidebar'); -%>

<!-- Page Content  -->
<div class="app-main__inner">
   <div class="app-page-title">
       <div class="page-title-wrapper">
           <div class="page-title-heading">
               <div class="page-title-icon">
                   <i class="pe-7s-car icon-gradient bg-mean-fruit"></i>
               </div>
               <div>
                  Music videos
               </div>
           </div> 
           <div class="page-title-actions">
            <div class="d-inline-block dropdown">
               <a type="button" href="/admin/api/create-genre" class="btn-shadow 
                btn btn-primary">
                   <span class="btn-icon-wrapper pr-2 opacity-7">
                   </span>
                    Add Music Genre
               </a>
           </div>
        </div>
        </div>
   </div>        
 
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <table style="width: 100%;" id="example2" class="table table-hover table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Title</th>
                                <th>Genre</th>
                                <th>Supplier name</th>
                                <th>Phone no</th>
                                <th>Date added</th>
                                <th class = "">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(musicVideo.length > 0){ let sn=1;  %>
                            <% musicVideo.forEach(function (musicVideo,index){ %>
                                <tr>
                                    <td><%= sn %></th>
                                    <td><%= musicVideo.title %></td>
                                    <td><%= musicVideo.genre %></td>
                                    <td><%= musicVideo.supplierName %></td>
                                    <td class=""><%= musicVideo.contactName %></td>
                                    <td class=""><%= moment(musicVideo.date).format('LL') %></td>
                                    <td class="">
                                        <a href= "/admin/api/music_video/<%=musicVideo._id%>" type="button" id="PopoverCustomT-1"
                                            class="btn btn-primary btn-sm">View</a>
                                            <a href= "/admin/api/edit-music-video/<%=musicVideo._id%>" type="button" id="PopoverCustomT-1"
                                                class="btn btn-warning btn-sm">Edit</a>
                                        <button id = "<%=musicVideo._id%>"
                                            class="btn btn-danger btn-sm">Delete</button>
                                    </td>
                                </tr>
                                <% sn++ %>
                            <% }) %> 
                            <%  } %>        
                        </tbody>
                    </table>
                </div>
        
    </div>
    </div>
<!-- Page Content END -->


<%- include('../footer'); -%>
<%- include('../js'); -%>
<script>
    $(document).ready(function() {
    $('#example2').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
    $(document).on('click', '.btn-danger', function(e) {
        e.preventDefault();
        const id = $(this).attr('id');
        swal({
            title: 'Are you sure?',
            text: "This Music Video will be DELETED!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, proceed & Delete!'
        }).then((result) => {
            if (result) {
                $.ajax({
                    url: '/admin/delete_music_video/'+id,
                    method: "DELETE",
                    dataType : "json",
                    "contentType": "application/json",
                    success: function(data) {
                        window.location.reload();
                        if (data.status == 200) {
                            $('#success_message').html(data.message);
                        }
                    },
                    error: function(jqXhr) {
                        if (jqXhr.status == 400) {
                           
                        }
                    }
                });
                swal(
                    'Deleted!',
                    'Music Video Deleted.',
                    'success'
                )
    
            }
        })
    });
    
    </script>
<%- include('../../end'); -%>