<%- include('../header'); -%>
<%- include('../sidebar'); -%>

<!-- Page Content  -->
<div class="app-main__inner">
   <div class="app-page-title">
       <div class="page-title-wrapper">
           <div class="page-title-heading">
               <div class="page-title-icon">
                   <i class="pe-7s-car icon-gradient bg-mean-fruit"></i>
               </div>
               <div>
                 programmes
               </div>
           </div> 
           <div class="page-title-actions">
            <div class="d-inline-block dropdown">
                <a type="button" href="/admin/add_programme" class="btn-shadow 
                 btn btn-info">
                    <span class="btn-icon-wrapper pr-2 opacity-7">
                        <i class="fa fa-business-time fa-w-20"></i>
                    </span>
                    Add programme
                </a>
            </div>
        </div>   
        </div>
   </div>        
   <div class="tabs-animation">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th class="">Title</th>
                                <th class="">Type</th>
                                <th class="">Category</th>
                                <th class="">Date</th>
                                <th class="">Options</th>
                                <th  class="">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% programmes.forEach(function (item,index){ %>
                                <tr>
                                    <td class="text-left">
                                        <img width="40" class=" thumbnail" src="/large_images/<%= item.image %>" alt="">
                                    </td>
                                    <td class=""><%= item.title%></td>
                                    <td class=""><%= item.type %></td>
                                    <td class="">
                                        <% item.categories.map((cat)=>{ %>
                                        <%= cat.title %> <br>
                                        <% }) %>
                                    </td>
                                    <td class=""><%= moment(item.date).format('LL') %></td>
                                    <td class="">
                                        <a href= "/admin/programme/<%=item._id%>" type="button" id="PopoverCustomT-1"
                                            class="btn btn-primary btn-sm">View</a>
                                    </td>
                                    <td class="">
                                        <a href= "/admin/delete_programme/<%=item._id%>" type="button" id="PopoverCustomT-1"
                                            class="btn btn-danger btn-sm">Delete</a>
                                    </td>
                                </tr>
                            <% }) %>      
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
  </div>
</div>
<!-- Page Content END -->

<%- include('../footer'); -%>
<%- include('../js'); -%>
<%- include('../../end'); -%>