<%- include('../header'); -%>
<%- include('../sidebar'); -%>

<!-- Page Content  -->
<div class="app-main__inner">
   <div class="app-page-title">
       <div class="page-title-wrapper">
           <div class="page-title-heading">
               <div class="page-title-icon">
                   <i class="pe-7s-car icon-gradient bg-mean-fruit"></i>
               </div>
               <div>
                 Schedules
               </div>
           </div> 
           <div class="page-title-actions">
            <div class="d-inline-block dropdown">
                <a type="button" href="/admin/api/add_schedule" class="btn-shadow 
                    btn btn-info">
                    <span class="btn-icon-wrapper pr-2 opacity-7">
                        <i class="fa fa-business-time fa-w-20"></i>
                    </span>
                    Add schedule
                </a>
            </div>
            </div>   
        </div>
   </div>        
   <div class="tabs-animation">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Show</th>
                                <th>Video</th>
                                <th  class="">Start time</th>
                                <th  class="">End time</th>
                                <th  class="">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% schedules.forEach(function (item,index){ %>
                                <tr>
                                    <td class=""><%= item.show.title %></td>
                                    <% if(item.video){%> 
                                    <td class=""><a href="/admin/video/<%= item.video._id  %>"><%= item.video.title %></a></td>
                                    <% }else{%> 
                                    <td class=""><a href="#">No video</a></td>
                                    <%} %> 
                                    <td class=""><%= moment(item.startTime).format('LLL') %></td>
                                    <td class=""><%= moment(item.endTime).format('LLL')  %></td>

                                    <td class="">
                                        <a href= "/admin/api/delete_schedule/<%=item._id%>" type="button" id="PopoverCustomT-1"
                                            class="btn btn-primary btn-sm">Delete</a>
                                    </td>
                                </tr>
                            <% }) %>      
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
  </div>
</div>
<!-- Page Content END -->


<%- include('../footer'); -%>
<%- include('../js'); -%>
<%- include('../../end'); -%>