<%- include('../header'); -%>
<%- include('../sidebar'); -%>

<!-- Page Content  -->
<div class="app-main__inner">
    <!-- title  -->
   <div class="app-page-title">
       <div class="page-title-wrapper">
           <div class="page-title-heading">
               <div class="page-title-icon">
                   <i class="pe-7s-car icon-gradient bg-mean-fruit"></i>
               </div>
               <div>
                  Site Details
               </div>
           </div>
         </div>
   </div>       
   <!-- title -->
    <!--body  -->
   <div class="tabs-animation">
       <!-- form -->
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div id = "message"></div>
                        <form id="site_details">
                            <div class = "form-group">
                                <label for="sitename">Site Name</label>
                                <input placeholder = "Site name" type="text" value="<%= settings.siteName %>" id = "sitename" name = "sitename" class = "form-control">
                            </div>
                            <div class="form-group">
                                <label for="site_desc">Site description</label>
                                <textarea id="site_desc" name="site_desc" rows="5" class="form-control" placeholder="Site description"><%= settings.siteDis %></textarea>                  
                            </div>
                            <div class = "form-group">
                                <label for="hq_address">Head quaters address</label>
                                <input placeholder = "Head quaters address" value="<%= settings.HQaddress %>" type="text" id = "hq_address" name = "hq_address" class = "form-control">
                            </div>
                            <div class="position-relative form-group">
                                <label for="email" class="">Email</label>
                                <input name="email" id="email" placeholder="Church email address"value="<%= settings.email %>" type="email" class="form-control">
                            </div>
                            <div class="position-relative form-group">
                                <label for="contact_no" class="">Contact number</label>
                                <input name="contact_no" id="contact_no" placeholder="Church contact number" value="<%= settings.contactNumber %>" type="text" class="form-control">
                            </div>
                            <div class = "form-group">
                                <label for="prayer_no">Prayer number</label>
                                <input placeholder = "Church prayer number" type="text" value="<%= settings.prayerNumber %>" id = "prayer_no" name = "prayer_no" class = "form-control">
                            </div>
                            <div class="form-group">
                                <label for="faith_st">Faith statement</label>
                                <textarea id="faith_st" name="faith_st" rows="5" class="form-control" placeholder="Faith statement"><%= settings.HQaddress %></textarea>                  
                            </div>
                            <div class="form-group">
                                <label for="salv_prayer">Salvation prayer</label>
                                <textarea id="salv_prayer" name="salv_prayer" rows="5" class="form-control" placeholder="Salvation prayer"><%= settings.HQaddress %></textarea>                  
                            </div> 
                            <button class="mt-1 btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
         <!-- form ends -->
  </div>
  <!-- body ends -->
</div>
<!-- Page Content END -->


<%- include('../footer'); -%>
<%- include('../js'); -%>
<script>
    $(document).on('submit', '#site_details', event => {
        event.preventDefault();
        const data = {
            "siteName": $("#sitename").val(),
            "siteDis": $("#site_desc").val(),
            "email":  $("#email").val(),
            "HQaddress": $("#hq_address").val(),
            "contactNumber": $("#contact_no").val(),
            "prayerNumber": $("#prayer_no").val(),
            "faithStatement": $("#faith_st").val(),
            "salvationPrayer": $("#salv_prayer").val(),
         }
        clean(data)
        jQuery.ajax({
        url: '/admin/settings',
        method: "PUT",
        dataType : "json",
        data: JSON.stringify(data),
        "contentType": "application/json",
        success: function(response) { 
            console.log(response);
            if(response.status==200){
            displaymsg(response.message, "alert-secondary")
            $('#site_details')[0].reset();
            }
          },
          error:function(jqXhr){
              if(jqXhr.status ==400){
                let responseText = jQuery.parseJSON(jqXhr.responseText);
                if(responseText.indexOf('prayerNumber') !== -1){
                    responseText[responseText.indexOf('prayerNumber')] = "Prayer number";
                }
                if(responseText.indexOf('contactNumber') !== -1){
                    responseText[responseText.indexOf('contactNumber')] = "Contact number";
                }
                console.log(responseText)
                let txt = `Invalid inputs : ${responseText.join(', ')}`
                  displaymsg(txt)
              }
          }
      });
     })
</script>
<%- include('../../end'); -%>