<%- include('../header'); -%>
<%- include('../sidebar'); -%>

<!-- Page Content  -->
<div class="app-main__inner">
    <!-- title  -->
   <div class="app-page-title">
       <div class="page-title-wrapper">
           <div class="page-title-heading">
               <div class="page-title-icon">
                   <i class="pe-7s-car icon-gradient bg-mean-fruit"></i>
               </div>
               <div>
                Social Media Streaming
               </div>
           </div>
         </div>
   </div>       
 
   <!-- title -->
    <!--body  -->
   <div class="tabs-animation">
       <!-- form -->
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div id = "message"></div>
                      
                
                            <div class="">
                                <label for="title">Facebook streaming key</label>
                            </div>
                            
                            <div class="input-group">
                                <input type="text" class="form-control" id="fb">
                            </div>
                            <div class="form-group">
                                <button class="mt-1 btn btn-primary" id ="facebookStream">Stream to facebook</button>    
                                <button class="mt-1 btn btn-danger" id ="stopfb">Stop Streaming to facebook</button>             
         
                            </div>
                        
                      
                    </div>
                </div>

                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div id = "message"></div>
                      
                
                            <div class="">
                                <label for="title">Youtube streaming key</label>
                            </div>
                            
                            <div class="input-group">
                                <input type="text" class="form-control" id="yt">
                            </div>
                            <div class="form-group">
                                <button class="mt-1 btn btn-primary" id ="ytStream">Stream to Youtube</button>    
                                <button class="mt-1 btn btn-danger" id ="stopyt">Stop Streaming to Youtube</button>             
         
                            </div>
                        
                      
                    </div>
                </div>
            </div>
        </div>
         <!-- form ends -->
  </div>
  <!-- body ends -->
</div>
<!-- Page Content END -->


<%- include('../footer'); -%>
<%- include('../js'); -%>

<script>

    $("#facebookStream").click(function() {
        const data = {
          "fb": jQuery("#fb").val(),
        }        
        axios.post('/admin/facebookstream',data)
        .then(function (response) {
            // handle success
            displaymsg("Stream sent to facebook");
        })
        .catch(function (error) {
            // handle error
            console.log(error);
            displayerr(error.message)
        })
    });

    $("#stopfb").click(function() {
        axios.get('/admin/stop_facebookstream')
            .then(function (response) {
            // handle success
            displaymsg(response.data.message);
        })
        .catch(function (error) {
            // handle error
            console.log(error);
            displayerr(error.message)
        })
    });


    $("#ytStream").click(function() {
        const data = {
          "yt": jQuery("#yt").val(),
        }        
        axios.post('/admin/ytstream',data)
        .then(function (response) {
            // handle success
            displaymsg("Stream sent to youtube");
        })
        .catch(function (error) {
            // handle error
            console.log(error);
            displayerr(error.message)
        })
    });

    $("#stopyt").click(function() {
        axios.get('/admin/stop_ytstream')
            .then(function (response) {
            // handle success
            displaymsg(response.data.message);
        })
        .catch(function (error) {
            // handle error
            console.log(error);
            displayerr(error.message)
        })
    });

</script>
<%- include('../../end'); -%>