<%- include('../header'); -%>
<%- include('../sidebar'); -%>

<!-- Page Content  -->
<div class="app-main__inner">
   <div class="app-page-title">
       <div class="page-title-wrapper">
           <div class="page-title-heading">
               <div class="page-title-icon">
                   <i class="pe-7s-car icon-gradient bg-mean-fruit"></i>
               </div>
               <div>
                 <%= video.title %> - video
               </div>
           </div> 
        </div>
   </div>        
   <div class="tabs-animation">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                            <tr > 
                                <th class="">
                                    <figure class="figure">
                                        <h5><figcaption class="figure-caption text-center">Video</figcaption></h5>
                                        <video width="400" src="/uploads/<%= video.video %>" controls>
                                            Your browser does not support the video tag.
                                          </video>
                                    </figure>    
                                </th>
                                <th class="">
                                    <figure class="figure">
                                        <h5><figcaption class="figure-caption text-center">Cover image</figcaption></h5>
                                        <img height="200" src= "/small_images/<%= video.image %>" class="figure-img img-fluid rounded" alt="">
                                      </figure>
                                </th>
                            </tr>
                            <tr>
                                <th class="">Title</th>
                                <td class=""><%= video.title %></td>
                            </tr>
                            <%if (video.programme){%> 
                            <tr>
                                <th class="">Type</th>
                                <td class=""><%= video.programme.type %></td>
                            </tr>
                            <tr>
                                <th class="">Programme</th>
                                <td class=""><%= video.programme.title %></td>
                            </tr> 
                            <%}%>

                            <% if (video.season){%> 
                            <tr>
                                <th class="">Season</th>
                                <td class=""><%= video.season.title %></td>
                            </tr>
                            <%}%>
                            <tr>
                                <th class="">Description</th>
                                <td class=""><%= video.description %></td>
                            </tr>
                            <tr>
                                <th class="">Duration</th>
                                <td class=""><%= video.duration %></td>
                            </tr>
                            <tr>
                                <th class="">Views</th>
                                <td class=""><%= video.views %></td>
                            </tr>
                            <tr>
                                <th class="">Date added</th> 
                                <td class=""><%= moment(video.date).format('LL') %></td>
                            </tr>
                            <tr>
                                <th class="">Options</th>
                                <td class="">
                                    <a href= "/admin/edit_video/<%=video._id%>" type="button" id="PopoverCustomT-1"
                                        class="btn btn-primary btn-sm">Edit</a>
                                    <a href= "/admin/delete_video/<%=video._id%>" type="button" id="PopoverCustomT-1"
                                        class="btn btn-danger btn-sm">Delete</a>
                                    <a href= "/admin/api/add_schedule/<%=video._id%>" type="button" id="PopoverCustomT-1"
                                            class="btn btn-success btn-sm">Schedule video on live TV</a>
                                </td>                            
                            </tr>
                     
                    </table>
                </div>
            </div>
        </div>
    </div>
    
  </div>
</div>
<!-- Page Content END -->


<%- include('../footer'); -%>
<%- include('../js'); -%>
<%- include('../../end'); -%>