<!-- Header End -->
      <!-- Slider Start -->
      <section id="home" class="iq-main-slider p-0">
        <div id="home-slider" class="slider m-0 p-0">
         <%for (var stream in streams){%> 
           <div class="slide slick-bg " style="background-image: url(/large_images/<%= streams[stream].image %>);">
              <div class="container-fluid position-relative h-100">
                 <div class="slider-inner h-100">
                    <div class="row align-items-center  h-100">
                       <div class="col-xl-6 col-lg-12 col-md-12">
                          <!-- <a href="javascript:void(0);">
                             <div class="channel-logo" data-animation-in="fadeInLeft" data-delay-in="0.5">
                                <img src="/images/logo.png" class="c-logo" alt="streamit">
                             </div>
                          </a> -->
                          <h1 class="slider-text big-title title text-uppercase" data-animation-in="fadeInLeft"
                             data-delay-in="0.6"><%= streams[stream].title %></h1>
                          <div class="d-flex align-items-center" data-animation-in="fadeInUp" data-delay-in="1">
                             <span class="badge badge-secondary p-2">18+</span>
                             <span class="ml-3"><%= moment(streams[stream].scheduledOn).calendar() %></span>
                          </div>
                          <p data-animation-in="fadeInUp" data-delay-in="1.2">
                              <%= streams[stream].description %>
                          </p>
                          <div class="d-flex align-items-center r-mb-23" data-animation-in="fadeInUp" data-delay-in="1.2">
                             <a href="/live/<%= streams[stream]._id %>" class="btn btn-hover"><i class="fa fa-play mr-2"
                                aria-hidden="true"></i>Play Now</a>
                             <a href="" class="btn btn-link">More details</a>
                          </div>
                       </div>
                    </div>
                   
                 </div>
              </div>
           </div>
           <%}%>


        </div>

        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
           <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="44px" height="44px" id="circle"
              fill="none" stroke="currentColor">
              <circle r="20" cy="22" cx="22" id="test"></circle>
           </symbol>
        </svg>
     </section>
     <!-- Slider End -->